{% extends "base_generic.html" %}

{% block content %}

{% if not user.is_active %}
    <div class="error_message" id="always_on_error_message">
        <strong>Tu correo electrónico aún no ha sido validado</strong>
        <p>
            Validar tu correo te permitirá suscribirte a los cambios de precio  y disponibilidad en tus notebooks favoritos, además de poder regenerar tu contraseña en caso de extravío.
        </p>
        <p>
        <a href="/account/send_confirmation_mail">Haz click aquí para reenviar el mensaje de validación a tu cuenta de correo</a>
        </p>
    </div>
{% endif %}

<ul>
    <li>
        <a href="/account/subscriptions" title="Últimos Movimientos"><span>Mis Notebooks</span></a>
    </li>
    <li>
        <a href="/account/change_email" title="Comentarios"><span>Cambiar correo electrónico</span></a>
    </li>
    <li>
        <a href="/account/change_password" title="Nuevos Equipos"><span>Cambiar contraseña</span></a>
    </li>
</ul> 

{% block account_content %}
{% endblock %}

{% endblock %}
