{% extends "base_generic.html" %}

{% block title %}Validación de correo - {{ site_name }}{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

<h1>Error en la regeneración</h1>

<p>Hemos detectado un problema durante la regeneración de tu contraseña: {{ error }}

<p>Por favor verifica lo siguiente: </p>

<ul>
    <li>La dirección en la barra de tu navegador es idéntica a la que te llegó a tu correo</li>
    <li>Verifica que no estés ingresado como otro usuario</li>
</ul>

{% endblock %}
