{% extends "account/base.html" %}

{% block title %}SoloNotebooks - Mis notebooks{% endblock %}

{% block header_content %}
	<script type="text/javascript" src="/media/jsv2/subscriptions.js"></script>
{% endblock %}

{% block account_content %}

{% load mytags %}

<h1>Mis notebooks</h1>

{% if not notebook_subscriptions %}
    
    <h3>No tienes ninguna suscripción!</h3>

{% else %}

<table class="default_table" id="subscription_list">
    <tr>
        <th>Notebook</th>
        <th>Notificaciones por mail</th>
        <th>Eliminar</th>        
    </tr>
    {% for ns in notebook_subscriptions %}
        <tr>
            <td class="notebook_column">
                {% display_notebook ns.notebook %}
            </td>
            <td class="email_notification_choice_cell">
                {% if ns.email_notifications %}
                    <form method="post" action="/account/disable_subscription_mail/">
                        <input type="hidden" name="subscription_id" value="{{ ns.id }}" />
                        <strong>Sí</strong> /  <a class="subscription_link" href="#">No</a>
                    </form>
                {% else %}
                    <form method="post" action="/account/enable_subscription_mail/">
                        <input type="hidden" name="subscription_id" value="{{ ns.id }}" />
                        <a class="subscription_link" href="#">Sí</a> / <strong>No</strong>
                    </form>
                {% endif %}
            </td>
            <td>
                <form method="post" action="/account/remove_subscription/{{ ns.id }}/">
                    <input type="submit" value="Eliminar" />
                </form>
            </td>
        </tr>
    {% endfor %}
</table>

{% endif %}

{% endblock %}
