{% extends "base_no_product_type.html" %}

{% block alert_content %}
    {% if not user.is_active %}
        <div class="error_message" id="always_on_error_message">
            <strong>Tu correo electrónico aún no ha sido validado</strong>
            <p>
                Validar tu correo te permitirá suscribirte a los cambios de precio  y disponibilidad en tus notebooks favoritos, además de poder regenerar tu contraseña en caso de extravío.
            </p>
            <p>
            <a href="/account/send_confirmation_mail">Haz click aquí para reenviar el mensaje de validación a tu cuenta de correo</a>
            </p>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div id="result_set">
        {% if not user.get_profile.facebook_name %}
            <div id="account_options">
                <a href="/account/subscriptions" title="Últimos Movimientos"><span>Mis Productos</span></a>
                 | 
                <a href="/account/change_email" title="Comentarios"><span>Cambiar correo electrónico</span></a>
                 | 
                <a href="/account/change_password" title="Nuevos Equipos"><span>Cambiar contraseña</span></a>
                | 
                <a href="/account/fuse_facebook_account" title="Fusionar cuenta"><span>Fusionar con cuenta de Facebook</span></a>
            </div>
        {% endif %}

        {% block account_content %}
        {% endblock %}

    </div>
{% endblock %}
