{% extends "account/base.html" %}

{% block title %}Mis productos - {{ site_name }}{% endblock %}

{% block account_content %}

<h1>Mis productos</h1>

{% if not product_subscriptions %}
    
    <h3>No tienes ninguna suscripción!</h3>

{% else %}

<table class="default_table" id="subscription_list">
    <tr>
        <th>Producto</th>
        <th>Notificaciones por mail</th>
        <th>Eliminar</th>        
    </tr>
    {% for ps in product_subscriptions %}
        <tr>
            <td class="product_column">
                {{ ps.product.render_div }}
            </td>
            <td class="email_notification_choice_cell">
                {% if ps.email_notifications %}
                    <strong>Sí</strong> / 
                    <a href="/account/disable_subscription_mail/{{ ps.id }}">No</a>
                {% else %}
                    <a href="/account/enable_subscription_mail/{{ ps.id }}">Sí</a> / 
                    <strong>No</strong>
                {% endif %}
            </td>
            <td>
                <form method="post" action="/account/remove_subscription/{{ ps.id }}/">
                    <input type="submit" value="Eliminar" />
                </form>
            </td>
        </tr>
    {% endfor %}
</table>

{% endif %}

{% endblock %}
