{% extends "cotizador/product_details.html" %}

{% block product_details %}
<h1>{{ processor }}</h1>
<h3 class="subtitle">Especificaciones principales</h3>
<strong>Frecuencia: </strong> {{ processor.pretty_frequency }}
<br />
<strong>Núcleos: </strong> {{ processor.core_count }}
<br />
<strong>Caché: </strong> {{ processor.pretty_cache }}
<br />
<strong>Socket: </strong> {{ processor.socket }}
<br />

<h3 class="subtitle">Especificaciones secundarias</h3>
<strong>Núcleo: </strong> {{ processor.core }}
<br />
<strong>Proceso de manufactura: </strong> {{ processor.core.manufacturing_process }}
<br />
<strong>FSB / DMI / HTT: </strong> {{ processor.fsb }}
<br />
<strong>Multiplicador: </strong> {{ processor.pretty_multiplier }}
<br />
<strong>Voltajes: </strong> {{ processor.pretty_voltages }}
<br />
<strong>TDP: </strong> {{ processor.pretty_tdp }}
<br />
<strong>64-bit: </strong> {% if processor.is_64_bit %} Sí {% else %} No {% endif %}
<br />
<strong>SMP (Hyper-threading): </strong> {% if processor.has_smp %} Sí {% else %} No {% endif %}
<br />
<strong>Virtualización: </strong> {% if processor.has_vt %} Sí {% else %} No {% endif %}
<br />
<strong>Gráficos integrados: </strong> {{ processor.graphics }}
<br />
<strong>Frecuencias Turbo: </strong>
    {% if processor.turbo_clocks %}
        <ul class="sub_ul">
        {% for turbo_clock in processor.turbo_clocks %}
            <li>{{ forloop.counter }} core{{ forloop.counter|pluralize }}: {{ turbo_clock }}</li>
        {% endfor %}
        </ul>
    {% else %}
        No posee frecuencias turbo
    {% endif %}
<br />

{% endblock %}
