{% extends "cotizador/product_details.html" %}

{% block sidebar %}
    <script type="text/javascript">
        var tiers = new Array()
        {% for tier in tiers %}
            var tier_details = new Array()
            tier_details['plan_id'] = {{ tier.plan.id }}
            tier_details['cellphone_price'] = {{ tier.cellphone_price }}
            tier_details['plan_price'] = {{ tier.plan_price }}
            tier_details['plan_data'] = {% if tier.plan.includes_data %} 'Sí' {% else %} 'No' {% endif %}
            tier_details['three_month_pricing'] = {{ tier.three_month_pricing }}
            tier_details['six_month_pricing'] = {{ tier.six_month_pricing }}
            tier_details['twelve_month_pricing'] = {{ tier.twelve_month_pricing }}
            tier_details['shpe_id'] = '{{ tier.shpe.id }}'
            tiers['{{ tier.id }}'] = tier_details
        {% endfor %}
    </script>

    {{ product.picture.extra_thumbnails_tag.large }}
    <br />
    <br />
    <h4>
        Seleccione un plan disponible para este celular
    </h4>
    <select id="tiers-select">
        {% for tier in tiers %}
            {% ifequal tier.id tier_id %}
                <option selected="selected" value="{{ tier.id }}">{{ tier.compressed_name }}</option>
            {% else %}
                <option value="{{ tier.id }}">{{ tier.compressed_name }}</option>
            {% endifequal %}
        {% endfor %}
    </select>
    <br />
    <p><a href="#" id="cell_plan_link">Ver los equipos compatibles con este plan</a></p>
    <div id="cell_tier_details">
        <b>Precio equipo:</b> <span id="cellphone_price_span"></span> <br />
        <b>Precio plan:</b> <span id="plan_price_span"></span> <br />
        <b>¿Plan incluye datos?:</b> <span id="plan_data_span"></span> <br />
        
        <br />
        
        <b>Precio a 3 meses:</b> <span id="three_month_price_span"></span> <br />
        <b>Precio a 6 meses:</b> <span id="six_month_price_span"></span> <br />
        <b>Precio a 12 meses:</b> <span id="twelve_month_price_span"></span> <br />
        
        <br />
        <b><a id="cell_external_link" href="">Link al producto en {{ cellphone.pricing.company }}</a></b>
    </div>
    <br />
    <div id="price_suggestion_box">
        {% if not subscription %}
        <table class="mytable">
            <tr>
                <td>
                    <a href="" class="favorite_link">
                    <img src="/media/assets/favorite-icon.png" />
                    </a>
                </td>
                <td>
                    <a href="" class="favorite_link">
                    Agregar a mis favoritos
                    </a>
                </td>                
            </tr>            
        </table>
        {% else %}
            {% if subscription.email_notifications %}
                <table class="mytable">
                    <tr>
                        <td>
                            <img src="/media/assets/favorite-icon.png" />
                        </td>
                        <td>
                            Este producto está en tus favoritos
                        </td>                
                    </tr>                         
                </table>            
            {% else %}
                <table class="mytable">
                    <tr>
                        <td>
                            <img src="/media/assets/favorite-icon.png" />
                        </td>
                        <td>
                            Este producto está en tus favoritos
                        </td>                
                    </tr>                         
                </table>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block product_details %}
    {{ cellphone.render_details }}
{% endblock %}
