<div class="producto-li">
    <div class="thumb-videocard thumb-product">
	    <a href="{% url cotizador.views.product_details videocard.id %}" title="{{ videocard }}">
		    {{ videocard.picture.thumbnail_tag }}<br />
	    </a>
	    <p>{{ videocard.ntype.name }}</p>	
    </div>
    <div class="content-producto">
	    <a href="{% url cotizador.views.product_details videocard.id %}">{{ videocard }}</a> {% if videocard.matching %} ({{ videocard.matching|floatformat }}%) {% endif %}
	    <ul class="info-producto left">
		    <li><strong>GPU:</strong> {{ videocard.gpu }}</li>
		    <li><strong>Memoria:</strong> {{ videocard.pretty_memory }}</li>
		    <li><strong>Frecuencias:</strong> {{ videocard.pretty_frequencies }}</li>
		    <li><strong>Bus:</strong> {{ videocard.bus }}</li>
	    </ul>
	    <ul class="precio-producto right">
		    <li>
		        <a href="{% url cotizador.views.product_details videocard.id %}">{{ videocard.pretty_min_price }}</a>
	        </li>
		    {% if videocard.week_discount >= 10 %}
		        <li class="mas-barato">
		            <strong>{{ videocard.week_discount }}</strong>% de Descuento
                </li>
		    {% endif %}
	    </ul>
	    <br class="clear" />
	    <a href="#" class="right findex" title="Agregar a Favoritos">agregar</a> 
    </div>
    <br class="clear" />
</div> <!-- end producto li -->
