<div class="product_container">
    <div class="product_thumb_image">
        <a href="{% url solonotebooks.cotizador.views.product_details screen.url %}">{{ screen.picture.thumbnail_tag }}</a>
    </div>
    <div class="similar_product_stats">
            <a href="{% url solonotebooks.cotizador.views.product_details screen.url %}">
    	        {{ screen }}
            </a>
    	    <p>
            	{{ screen.size }} <br />
                {{ screen.resolution }}<br />
    	        <strong>{{ screen.pretty_min_price }}</strong>
            </p>
    </div>
</div>
