{% extends "base_generic.html" %}

{% block tabs %}
<div id="tabs">
	<ul class="catalogo left">
	    <li class="intro-catalogo">Opciones de administración</li>
        <li>
            <a href="#" title="{{ ptype.indexname }}">Inicio</a>
        </li>
        <li>
            <a href="#" title="{{ ptype.indexname }}">Logs</a>
        </li>
        <li>
            <a href="#" title="{{ ptype.indexname }}">Gestor de publicidad</a>
        </li>
        <li>
            <a href="#" title="{{ ptype.indexname }}">Buscador personalizado</a>
        </li>
	</ul>
	
	<!--<ul class="social right">
		<li class="rss"><a href="#">Suscríbete</a></li>
		<li class="twitter"><a href="#">Síguenos</a></li>
	</ul>-->
</div> <!-- end tabs -->
{% endblock %}


{% block content %}
{% endblock %}
