{% extends "store/base.html" %}

{% block title %}
    Dashboard de {{ store }} - {{ site_name }}
{% endblock %}

{% block content %}
    <div id="result_set" class="bigger_text">
        <form action=".">
            {{ form.ordering.label_tag }} {{ form.ordering }}
            <input type="submit" value="Refrescar">
        </form>
        
        <p>
            <br />
            <b><a href="{% url solonotebooks.cotizador.views_store.competition_report_excel %}?ordering={{ form.data.ordering }}">Descargar este informe en Excel</a></b>
        </p>
        
        {% for result in results %}
            {% if result.1 %}
                <h2>{{ result.0 }}</h2>
                
                <table class="mytable">
                    <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Precio {{ store }}</th>
                        <th>Competencia 1</th>
                        <th>Competencia 2</th>
                        <th>Competencia 3</th>
                    </tr>
                    
                    {% for entry in result.1 %}
                        <tr>
                            <td>{{ entry.part_number }}</td>
                            <td><a href="{% url solonotebooks.cotizador.views_services.product_details entry.id %}">{{ entry }}</a></td>
                            <td>{{ entry.store_shpe.pretty_price }} (<a href="{{ entry.store_shpe.url }}">Link</a>)</td>
                                        
                            {% for shp in entry.competitor_shps %}
                            <td>    
                                {{ shp.shpe.pretty_price }} (<a href="{{ shp.shpe.url }}">{{ shp.shpe.store }}</a>)
                            </td>
                            {% endfor %}
                            
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
