{% extends "store/base.html" %}

{% block title %}
    Datos de "{{ shpe }}"
{% endblock %}

{% block content %}

<div id="advertisement_tabs">
	<ul>
	    <li><a href="#tabs-1">Información de la entidad</a></li>
		<li><a href="#tabs-2">Información del producto asociado</a></li>
		<li><a href="#tabs-3">Estadísticas</a></li>
	</ul>
	<div id="tabs-1">
	    <h2><a href="{{ shpe.url }}" style="text-decoration:underline;">{{ shpe }}</a></h2>
        <b>Disponibilidad:</b> Disponible <br />
        <b>Último precio:</b> {{ shpe.pretty_price }} (<a style="text-decoration:underline;" href="{% url solonotebooks.cotizador.views_store.entity_refresh_price shpe.id %}">Actualizar precio</a>) <br />
        <br />
        
        {% if other_shpes %}
            <p>
                Hemos detectado varias entidades de su tienda catalogando el mismo producto. SoloTodo usa automáticamente el mejor precio disponible en su tienda. Si existe un error de nuestra parte en la indexación de alguno de estos por favor contáctese con nosotros.
            </p>
            
            <ul>
                {% for other_shpe in other_shpes %}
                    <li><a style="text-decoration:underline;" href="{% url solonotebooks.cotizador.views_store.entity_details other_shpe.id %}">{{ other_shpe }}</a> (<a style="text-decoration:underline;" href="{{ other_shpe.url }}">Link en {{ store }}</a>)</li>
                {% endfor %}
            </ul>
        {% endif %}
        
	</div>
	<div id="tabs-2">
        <div class="product_details_sidebar">
            <div class="product_details_images">
                <div id="advertisement_image">{{ product.picture.extra_thumbnails_tag.large }}</div>
            </div>
            <br class="clear" />
            <div class="price_table_container">
                <table class="table_product_detail_prices mytable">
                    <tr>
                        <th>Tienda</th>
                        <th>Precio</th>
                    </tr>
                    {% ifequal product_prices|length 0 %}
                      <tr>
                        <td colspan="2" class="product_availability_message">
                          Este producto no está disponible actualmente
                        </td>
                      </tr>
                    {% else %}
                      {% for product_price in product_prices %}
                          <tr>
                              <td>
                                  <a href="/store_product/{{product_price.shpe.id}}" rel="nofollow">{{ product_price.store.picture.thumbnail_tag }}</a>
                              </td>
                              <td>
                                  <a href="/store_product/{{product_price.shpe.id}}" rel="nofollow">{{ product_price.shpe.pretty_price }}</a>
                              </td>
                          </tr>
                      {% endfor %}
                    {% endifequal %}
                </table>
            </div>
        </div>
        <div class="product_details_specs">
            {{ product.render_details }}
        </div>
        <br class="clear" />
	</div>
	<div id="tabs-3">
	    {% if store.sponsor_cap %}
	        <form method="get" id="advertisement_slot_form" action="#tabs-3">
                Desde: {{ form.start_date }} &nbsp;&nbsp;Hasta: {{ form.end_date }}
                <input type="submit" value="Actualizar" />
            </form>
            <br />
            <div id="sub_advertisement_tabs">
                <ul>
	                <li><a href="#subtabs-1">Número de visitas</a></li>
	                <li><a href="#subtabs-2">Número de clicks a tiendas</a></li>
	                <li><a href="#subtabs-3">Distribución de clicks</a></li>
	                <li><a href="#subtabs-4">Resultados publicidad</a></li>
                </ul>
                <div id="subtabs-1">
                    <img src="/media/pics/charts/unit_{{ shp.id }}_01.png?generator={{tag}}" />
                    <br />&nbsp;<br />
                    <p class="advertisement_fact">Número total de visitas en el periodo: {{ product_visit_count }}</p>
                </div>
                <div id="subtabs-2">
                    <img src="/media/pics/charts/unit_{{ shp.id }}_02.png?generator={{tag}}" />
                    <br />&nbsp;<br />
                    <p class="advertisement_fact">Número total de clicks a tiendas en el periodo: {{ all_external_visit_count }}</p>
                    <p class="advertisement_fact">Número de clicks a {{ store }} en el periodo: {{ store_external_visit_count }}</p>
                </div>
                <div id="subtabs-3">
                    <img src="/media/pics/charts/unit_{{ shp.id }}_03.png?generator={{tag}}" />
                </div>
                <div id="subtabs-4">
                    <img src="/media/pics/charts/unit_{{ shp.id }}_04.png?generator={{tag}}" />
                    <br />&nbsp;<br />
                    <p class="advertisement_fact">Número total de visitas patrocinadas en el periodo: {{ sponsored_visit_count }}</p>
                </div>
            </div>
        {% else %}
            <p>
            Actualmente las estadísticas de producto están solamente disponibles para los clientes que publicitan en el sitio.
            </p>
            <p>
            El sistema le permite ver la popularidad de un producto, cuántos clicks recibe su oferta y las de su competencia y los resultados de posibles campañas publicitarias en cualquier rango de tiempo.
            </p>
            <p>
            Si le interesa disponer de la oferta de publicidad y estadísticas por favor contáctenos.
            </p>
        {% endif %}
	</div>
</div>
{% endblock %}
