{% extends "base.html" %}

{% block body %}
<div class="row">
    <div id="presentation" class="span8"></div>
    <div id="featured-articles" class="span4"></div>
</div>
<div class="row top-margin">
    <div class="span4">
        <div class="thumbnail products-table-container">
            <h3>Ofertas del día</h3>
            <table>
                {% for product in products.offers %}
                    <tr>
                        <td>
                            {{ product.picture.thumbnail_tag }}
                        </td>
                        <td>
                            {{ product }}
                            <br />
                            <br />
                                {% if product.week_discount >= 10 %}
                                    <span class="product-before-discount">{{ product.price_before_discount }}</span>
                                {% endif %}

                                <span class="price">
                                    {{ product.pretty_min_price }}
                                </span>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="span4">
        <div class="thumbnail products-table-container">
            <h3>Populares</h3>
            <table>
                {% for product in products.popular %}
                <tr>
                    <td>
                        {{ product.picture.thumbnail_tag }}
                    </td>
                    <td>
                        {{ product }}
                        <br />
                        <br />
                        {% if product.week_discount >= 10 %}
                            <span class="product-before-discount">{{ product.price_before_discount }}</span>
                        {% endif %}

                        <span class="price">
                            {{ product.pretty_min_price }}
                        </span>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="span4">
        <div class="thumbnail products-table-container">
            <h3>Últimos comentarios</h3>
            <div id="recentcomments" class="dsq-widget">
                <script type="text/javascript" src="http://{{ settings.DISQUS_SHORTNAME }}.disqus.com/recent_comments_widget.js?num_items=5&hide_avatars=0&avatar_size=32&excerpt_length=200"></script>
            </div>
        </div>
    </div>
</div>
{% endblock %}