{% extends "base.html" %}

{% block body %}
    <img src="/media/img/steps-select.png" />
    <img src="/media/img/steps-search.png" />
    <img src="/media/img/steps-cash.png" />
{% comment %}
<div class="row">
    <div id="presentation" class="span8"></div>
    <div id="featured-articles" class="span4"></div>
</div>
<div class="row top-margin">
    <div class="span4">
        <div class="thumbnail products-table-container">
            <h3>Ofertas del día</h3>
            <table>
                {% for product in products.offers %}
                    {{ product.small_table_row }}
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="span4">
        <div class="thumbnail products-table-container">
            <h3>Populares</h3>
            <table>
                {% for product in products.popular %}
                    {{ product.small_table_row }}
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="span4">
        <div class="thumbnail products-table-container">
            <h3>Últimos comentarios</h3>
            <div id="recentcomments" class="dsq-widget">
                <script type="text/javascript" src="http://{{ settings.DISQUS_SHORTNAME }}.disqus.com/recent_comments_widget.js?num_items=5&hide_avatars=0&avatar_size=32&excerpt_length=200"></script>
            </div>
        </div>
    </div>
</div>
{% endcomment %}
{% endblock %}