{% extends "cotizador/base_catalog.html" %}

{% block title %}SoloNotebooks - Comparación de notebooks{% endblock %}

{% block catalog_content %}
{% load mytags %}

<div id="notebook_list_container" />
<h1>Comparativa de notebooks</h1>

{% if notebooks %}
    <p>Esta lista puede ser accesada directamente por usted o un conocido en la dirección <a href="{% url cotizador.views.notebook_comparison_details comparison_list_id %}">{{ server_name }}{% url cotizador.views.notebook_comparison_details comparison_list_id %}</a></p>

    <table>
        <tr>
            <th>&nbsp;</th>
            <th>Modelo</th>
            <th>Procesador</th>
            <th>RAM</th>
            <th>Tarjeta de video</th>
            <th>Disco duro</th>
            <th>Pantalla</th>
            <th>Precio</th>
        </tr>
        {% for notebook in notebooks %}
            {% display_notebook_as_table notebook %}
        {% endfor %}
    </table>
    
    <form method="post" action="">
        <p><input type="submit" value="Iniciar una nueva lista" /></p>
    </form>
{% else %}
    No hay notebooks en su lista de comparación
{% endif %}
</div>

{% endblock %}
