{% extends "base_generic.html" %}

{% block title %}{{ notebook }} - {{ site_name }}{% endblock %}

{% block content %}

<div id="notebook_picture_container">
    {{ notebook.picture.extra_thumbnails_tag.large }}
</div>

<div class="notebook_details_specs">
    <h1>{{ notebook }}</h1>
    <h2>Especificaciones esenciales</h2>
    <strong>Procesador: </strong> <a href="{% url cotizador.views_notebooks.processor_line_details notebook.processor.line.family.id %}?processor={{ notebook.processor.id }}">{{ notebook.processor.pretty_print }}</a>
    <br />
    <strong>Pantalla: </strong> {{ notebook.screen.pretty_display }}
    <br />
    <strong>Memoria RAM: </strong> {{ notebook.ram_quantity }} ({{notebook.ram_type}}-{{notebook.ram_frequency.value}})
    <br />
    <strong>Almacenamiento: </strong>
    {% ifequal notebook.storage_drive.all.count 1 %}
        {{ notebook.storage_drive.all.0 }}
    {% else %}
        <ul>
            {% for storage in notebook.storage_drive.all %}
            <li>{{ storage }}</li>
        {% endfor %}
    </ul>
    {% endifequal %}
    <br />
    <strong>Tarjeta de video: </strong>
    {% ifequal notebook.video_card.all.count 1 %}
        <a href="{% url cotizador.views_notebooks.video_card_line_details notebook.video_card.all.0.line.id %}?video_card={{notebook.video_card.all.0.id}}">{{ notebook.video_card.all.0 }}</a>
    {% else %}
        <ul>
            {% for video_card in notebook.video_card.all %}
            <li><a href="{% url cotizador.views_notebooks.video_card_line_details video_card.id %}?video_card={{video_card.id}}">{{ video_card }}</a></li>
        {% endfor %}
    </ul>
    {% endifequal %}
    <br />
    <h2>Especificaciones secundarias</h2>
    <strong>Batería: </strong> {% if notebook.prettyBattery %} {{ notebook.prettyBattery }} {% else %} No hay información disponible {% endif %}
    <br />
    <strong>Chipset: </strong> {{ notebook.chipset }}
    <br/>    
    <strong>Peso: </strong> {% if notebook.weight %} {{ notebook.weight }} g. {% else %} No hay información disponible {% endif %}
    <br />
    <strong>Dimensiones: </strong> {% if notebook.prettyDimensions %} {{ notebook.prettyDimensions }} {% else %} No hay información disponible{% endif %}
    <br />
    <strong>Sistema Operativo: </strong> {{ notebook.operating_system }}
    <br />
    <strong>Unidad óptica: </strong> {{ notebook.optical_drive }}
    <br />
    <strong>WiFi: </strong> {{ notebook.wifi_card }}
    <br />
<h2>Accesorios</h2>
    <strong>Puertos USB: </strong> {% if notebook.usb_port_count %} {{ notebook.usb_port_count }} {% else %} No hay información disponible{% endif %}
    <br />
    <strong>Webcam: </strong> {% if notebook.webcam_mp %} {{ notebook.webcam_mp }} MP {% else %} No posee{% endif %}
    <br />
    <strong>LAN: </strong> {{ notebook.lan }}
    <br />
    <strong>Adaptador de energía: </strong> {{ notebook.power_adapter }}
    <br />
    <strong>Lector de tarjetas: </strong> {{ notebook.card_reader }}
    <br />
    <strong>Puertos de video: </strong> {{ notebook.prettyVideoPorts }}    
    <br />    
    <strong>¿RAM de doble canal?: </strong> {% if notebook.is_ram_dual_channel %} Sí {% else %} No {% endif %}
    <br />
    <strong>¿Bluetooth?: </strong> {% if notebook.has_bluetooth %} Sí {% else %} No {% endif %}
    <br />
        <strong>¿Conexión eSATA?: </strong> {% if notebook.has_esata %} Sí {% else %} No {% endif %}
    <br />
    <strong>¿Lector de huellas digitales?: </strong> {% if notebook.has_fingerprint_reader %} Sí {% else %} No {% endif %}
    <br />
    <strong>¿Conexión FireWire?: </strong> {% if notebook.has_firewire %} Sí {% else %} No {% endif %}
</div>

<div class="price_table_container">
    <table class="table_notebook_detail_prices">
        <tr>
            <th>Tienda</th>
            <th>Precio</th>
        </tr>
        {% if product_prices %}
          {% for product_price in product_prices %}
              <tr class="store_row">
                  <td>
                      <a href="{% url cotizador.views.store_product_redirect product_price.shpe.id %}">{{ product_price.store.picture.thumbnail_tag }}</a>
                  </td>
                  <td>
                      <a href="{% url cotizador.views.store_product_redirect product_price.shpe.id %}">{{ product_price.shpe.pretty_price }}</a>
                  </td>
              </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td colspan="2" class="notebook_availability_message">
              Este notebook no está disponible actualmente
            </td>
          </tr>
        {% endif %}
    </table>
</div>
    
<div id="price_suggestion_box">
    {% if not subscription %}
        <p>
            <a href="" class="subscribe_link">
                {% if subscription.product.is_available %}
                    Enviarme cambios de precio
                {% else %}
                    Avisarme cuando esté disponible
                {% endif %}
            </a>
        </p>
        <p>
            <a href="" class="favorite_link">
                Agregar a mis favoritos
            </a>
        </p>
    {% else %}
        {% if subscription.email_notifications %}
            <p>        
                {% if subscription.product.is_available %}
                    Estás recibiendo los cambios de precio
                {% else %}
                    Te avisaremos cuando esté disponible
                {% endif %}
            </p>
            <p>
                Este producto está en tus favoritos
            </p>
        {% else %}
            <p>
                <a href="" class="subscribe_link">
                    {% if subscription.product.is_available %}
                        Enviarme cambios de precio
                    {% else %}
                        Avisarme cuando esté disponible
                    {% endif %}
                </a>
            </p>
            <p>
                Este producto está en tus favoritos
            </p>
        {% endif %}
    {% endif %}
</div>

<div class="similar_products">
    <h2>{{ notebook.ptype.displayname }} similares</h2>
    {% for product in similar_products %}
        {{ product.render_div }}
    {% endfor %}
</div>
    
    <hr />
    <div id="product_comments">
    <h2>Comentarios</h2>
    {% if product_comments %}
        {% for comment in product_comments %}
            <div class="notebook_comment">
                <table><tr><td valign="top">
                    {% if user.is_staff %}
                        <br />
                        <small><a href="/manager/delete/{{ comment.id }}">Eliminar</a></small>
                        <br />
                        <small><a href="/admin/cotizador/notebookcomment/{{ comment.id }}">Editar</a></small>
                    {% endif %}
                </td>                
                <td valign="top">
                <span class="comment_nickname">
                    {% if comment.user %}
                        {{ comment.user.username}}
                    {% else %}
                        {{ comment.nickname }}
                    {% endif %}
                </span>
                <span class="comment_date">{{ comment.date }}</span>
                <div class="comment_body">
                {{ comment.comments|safe }}
                </div>
                </td></tr></table>
            </div>
            <hr class="comment_separator" />
        {% endfor %}
    {% else %}
        No hay comentarios para este notebook
    {% endif %}
    </div>
    <div id="notebook_comment_add">
    {% if posted_comment %}
    <strong>Gracias por tus comentarios, dentro de unos minutos será publicado. Recuerda que <a href="#" class="register_link">si te registras</a> tus próximos mensajes aparecerán inmediatamente.</strong>
    {% else %}
        ¿Preguntas, comentarios o sugerencias de este notebook? Deja tu mensaje!
        <form action="" id="comment_form" method="post">
            <div>
                <span class="comment_form_label">Nombre:</span>
                {% if user.is_authenticated %}
                    {{ user.username }}
                {% else %}
                    {{ comment_form.nickname }}
                {% endif %}
                <p>
                    <span class="comment_form_label">Comentarios:</span>
                    <br />
                    {{ comment_form.comments }}
                    <br />
                </p>
                <input type="submit" value="Enviar" />
            </div>
        </form>
    {% endif %}
    </div>
</div>
{% endblock %}
