{% extends "cotizador/base_catalog.html" %}

{% block title %}
    {% ifequal processor None %}
        Procesadores {{ processor_line_family }} - {{ site_name }}
    {% else %}
        Procesador {{ processor }} - {{ site_name }}
    {% endifequal %}
{% endblock %}

{% block catalog_content %}

{% ifequal processor None %}
    <h1>Procesadores {{ processor_line_family }}</h1>
{% else %}
    <h1>Procesador {{ processor }}</h1>
{% endifequal %}

<div class="processor_details_container">
    <div class="processor_image_container">
        {{ processor_line_family.picture.thumbnail_tag }}
    </div>

    {{ processor_line_family.text|safe }}

</div>

<div style="clear: both;">
    <h2>Ver otras líneas</h2>
    <ul>
        <li><a href="{% url cotizador.views_notebooks.processor_line %}">Comparar todas las líneas</a></li>
    {% for processor_line_family in other_processor_line_families %}
        <li><a href="{% url cotizador.views_notebooks.processor_line_details processor_line_family.id %}">{{ processor_line_family }}</a></li>
    {% endfor %}
    </ul>
</div>

<h2 class="subheader">Modelos</h2>

<table class="processor_table">
    <tr>
        <th>Modelo</th>
        <th>Núcleos</th>
        <th>Frecuencia</th>
        <th>Velocidad <sup>*</sup></th>        
        <th>FSB</th>
        <th>Cache</th>
        <th>Consumo</th>
        <th>Modo Turbo</th>
    </tr>
    {% for processor in processors %}
        {% ifequal processor_id processor.id %}
            <tr class="selected_processor">
        {% else %}
            <tr>
        {% endifequal %}
            <td><a href="{% url cotizador.views.product_type_catalog ptype.urlname %}?processor={{processor.id}}&advanced_controls=1">{{ processor.tablePrint }}</a></td>
            <td>{{ processor.core_number }}</td>
            <td>{{ processor.frequency }}</td>
            <td>{{ processor.speed_score }}</td>                
            <td>{{ processor.fsb }}</td>
            <td>{{ processor.cache }}</td>
            <td>{{ processor.tdp }} W</td>
            <td>{% if processor.has_turbo_mode %} Sí {% else %} No {% endif %}</td>
        </tr>
    {% endfor %}
</table>
<span class="processor_table_notice">
<sup>*</sup> Este valor es un puntaje promedio en pruebas, y sirve para comparar dos procesadores distintos, inclusive de distintas marcas
</span>

{% ifequal processor None %}
    <h2 class="subheader">Algunos equipos con estos procesadores</h2>
{% else %}
    <h2 class="subheader">Algunos equipos con el procesador {{ processor }}</h2>
{% endifequal %}

{% for notebook in notebooks %}
    {{ notebook.render_div }}
{% endfor %}

{% endblock %}
