{% extends "cotizador/base_catalog.html" %}

{% block title %}Resultados de la búsqueda - {{ site_name }}{% endblock %}

{% block header %}
{% endblock %}

{% block catalog_content %}
<div id="result_set">
<h1>Resultados de la búsqueda</h1>

<p><b>Términos utilizados:</b> {{ query }}</p>

{% ifequal result_products.count 0 %}

<h2>No se han encontrado equipos con esas características</h2>

{% endifequal %}

{% for product in products %}
    {{ product.render_div }}
{% endfor %}

</div>

<div id="pagination">
    {% ifnotequal page_count 0 %}
        {% ifnotequal page_number 1 %}
		    <a href="/search/?search_keywords={{query}}&page_number={{ prev_page }}" title="Anterior">&laquo; Anterior</a>                        
        {% endifnotequal %}
        {% ifnotequal left_page 1 %}
            ...
        {% endifnotequal %}
        {% for page in page_range %}
            {% ifequal page page_number %}
                <span class="page-active">Pagina: {{ page }}</span>
            {% else %}
			    <a href="/search/?search_keywords={{query}}&page_number={{ page }}" title="Numero pagina">{{ page }}</a>
            {% endifequal %}
        {% endfor %}
        {% ifnotequal right_page page_count %}
            ...
        {% endifnotequal %}
        {% ifnotequal page_number page_count %}
            <a href="/search/?search_keywords={{query}}&page_number={{ post_page }}" title="Siguiente">Siguiente &raquo;</a>
        {% endifnotequal %}
    {% endifnotequal %}
</div> <!-- end pagination -->

{% endblock %}
