{% extends "base_generic.html" %}

{% block title %}SoloNotebooks - {{ store.name }}{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

<h1>{{ store.name }}</h1>

<h2>Equipos indexados</h2>

{% for shn in shns %}

    <div class="producto-li">
	    <div class="{{ shn.notebook.ntype.css_name }}">
		    <a href="{% url cotizador.views.notebook_details shn.notebook.id %}" title="{{ shn.notebook }}">
			    {{ shn.notebook.picture.thumbnail_tag }}<br />
		    </a>
		    <p>{{ shn.notebook.ntype.name }}</p>	
	    </div>
	    <div class="content-producto">
		    <a href="{% url cotizador.views.notebook_details shn.notebook.id %}">{{ shn.notebook }}</a>
		    <ul class="info-producto left">
			    <li><strong>Procesador:</strong> {{ shn.notebook.processor.pretty_print }}</li>
			    <li><strong>RAM:</strong> {{ shn.notebook.ram_quantity }} ({{shn.notebook.ram_type}}-{{shn.notebook.ram_frequency.value}})</li>
			    <li><strong>Disco Duro:</strong> {{ shn.notebook.storage_drive.all.0 }}</li>
			    <li><strong>Pantalla:</strong> {{ shn.notebook.screen.pretty_display }}</li>
		    </ul>
		    <ul class="precio-producto right">
			    <li>
			        <a href="{% url cotizador.views.notebook_details shn.notebook.id %}">{{ shn.pretty_price }}</a>
		        </li>
		    </ul>
		    <br class="clear" />
		    <a href="#" class="right findex" title="Agregar a Favoritos">agregar</a>
	    </div>
    <br class="clear" />
    </div> <!-- end producto li -->

{% endfor %}

{% endblock %}
