apache/media/pics/**/*
apache/media/ads
apache/media/ads/**
apache/robots.txt
apache/sitemap.xml
apache/blog/wp-config.php
django/solonotebooks/settings.py
apache/blog/wp-content/uploads/**/**/*
apache/sitemap.xml
apache/robots.txt
*~
*.pyc
*.db
.DS_Store
