{% extends "staff/base.html" %}

{% block title %}Registro de staff - {{ staff }}{% endblock %}

{% block staff_content %}

<h2>Registro semanal de {{ staff }}</h2>

<h3>Últimas entidades escondidas</h3>

<ul>
    {% for shpe in hidden_shpes %}
        <li><a href="{% url solonotebooks.cotizador.views_staff.storehasproductentity_edit user.id shpe.id %}">{{ shpe.custom_name }}</a></li>        
    {% endfor %}
</ul>

<h3>Últimas asociaciones</h3>

<ul>
    {% for shpe in shpes %}
        <li><a href="{% url solonotebooks.cotizador.views_staff.storehasproductentity_edit user.id shpe.id %}">{{ shpe.custom_name }}</a> -> <a href="{% url solonotebooks.cotizador.views.product_details shpe.shp.product.id %}">{{ shpe.shp.product }}</a></li>        
    {% endfor %}
</ul>

<br />

<h3>Últimos productos creados</h3>
<ul>
    {% for product in products %}
            <li><a href="{% url solonotebooks.cotizador.views.product_details product.id %}">{{ product }}</a></li>
    {% endfor %}
</ul>
{% endblock %}
