{% extends "staff/base.html" %}

{% block title %}
    Estadísticas de {{ staff }}
{% endblock %}

{% block staff_content %}

<form method="get" id="advertisement_slot_form">
    Desde: {{ form.start_date }} &nbsp;&nbsp;Hasta: {{ form.end_date }}
    <input type="submit" value="Actualizar" />
</form>

<div id="advertisement_tabs">
	<ul>
		<li><a href="#tabs">Entidades resueltas</a></li>
		<li><a href="#tabs-2">Productos creados</a></li>
	</ul>
	<div id="tabs">
        <img src="/media/pics/charts/staff_{{ staff.id }}_statistics_01.png?generator={{tag}}" />
        <br />
        <strong>Número de entidades resueltas en el periodo:</strong> {{ shpes_resolved_count }}
	</div>
	<div id="tabs-2">
        <img src="/media/pics/charts/staff_{{ staff.id }}_statistics_02.png?generator={{tag}}" />
        <br />
        <strong>Número de productos creados en el periodo:</strong> {{ product_creation_count }}
	</div>
</div>
{% endblock %}
