<tr>
    <td>
        {{ notebook.picture.thumbnail_tag }}
    </td>
    <td>
	    <a href="{% url cotizador.views.notebook_details notebook.id %}">{{ notebook }}</a>
    </td>
    <td>
        {{ notebook.processor.pretty_print }}
    </td>
    <td>
		{{ notebook.ram_quantity }} ({{notebook.ram_type}}-{{notebook.ram_frequency.value}})
	</td>
	<td>
	    <a href="{% url cotizador.views_notebooks.video_card_line_details notebook.video_card.all.0.line.id %}?video_card={{ notebook.video_card.all.0.id }}">{{ notebook.video_card.all.0 }}</a>
	</td>
    <td>
        {{ notebook.storage_drive.all.0 }}
    </td>
    <td>
        {{ notebook.screen.pretty_display }}
    </td>
    <td>
        {% if notebook.is_available %}
            <a href="{% url cotizador.views.product_details notebook.id %}">{{ notebook.pretty_min_price }}</a>
        {% else %}
            Equipo no disponible
        {% endif %}
    </td>
</tr>
