/* The background of the header that spans infinetely to both sides */
div#header-fluid {
    background: url("../img/bg-head.jpg") repeat-x scroll 0 0 transparent;
    height: 200px;
}

/* The narrow black stripe at the top of the page */
div#login-information {
    height: 24px;
    color: #CCCCCC;
    padding-top: 4px;
}

/* The links inside the black stripe described above */
div#login-information a:link,
div#login-information a:visited,
div#login-information a:hover,
div#login-information a:active {
    color: inherit;
}

/* The Navy blue stripe with the logo and the search bar  */
div#title-and-search {
    height: 100px;
}

div#logo-container {
    margin-top: 10px;
}

div#keyword-search-form-container {
    margin-top: 30px;
}

/* Search form at the top */

div#keyword-search-form-container form {
    width: 410px;
    float: left;
}

input#search-input {
    background: url("../img/input-search-background.jpg") no-repeat scroll 0 0 transparent;
    border: 0 none;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    height: 39px;
    line-height: 10px;
    padding: 2px 0 0 10px;
    text-shadow: 0 1px 0 #041C2F;
    width: 359px;
}

input#search-button {
    background: url("../img/search-button-background.jpg") repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    height: 40px;
    margin-left: -10px;
    width: 42px;
}

input#search-button:hover {
    background: url("../img/search-button-background.jpg") repeat scroll 0 -40px transparent;
}

div#blog-icon {
    background: url("../img/blog-icon.png") no-repeat scroll 9px 0 transparent;
    padding: 25px 0 2px;
    float:left;
    margin-left: 40px;
}

div#blog-icon:hover {
    background: url("../img/blog-icon.png") no-repeat scroll 9px -50px transparent;
}

div#blog-icon a {
    color: #DEE8F2;
    font-size: 14px;
    font-weight: bold;
    padding-top: 30px;
    text-decoration: none;
    text-shadow: 0 1px 0 #010407;
}

div#navigator {
    height: 36px;
    width: 940px;
}

div#navigator ul {
    margin-left: 0;
}


div#navigator li {
    background: url("../img/tabs.jpg") repeat-x scroll 0 0 transparent;
    border-left: 1px solid #5D90BD;
    border-right: 1px solid #5D90BD;
    border-top: 1px solid #5D90BD;
    color: #DEE8F2;
    display: block;
    float: left;
    font-size: 14px;
    margin-right: 3px;
    line-height: 21px;
}

div#navigator li a {
    color: #DEE8F2;
    font-weight: bold;
    text-shadow: 0 1px 0 #224B70;
    display: block;
    text-decoration: none;
    height: 18px;
    padding: 8px 14px;
}

div#navigator li:hover {
    background: url("../img/tabs-hover.jpg") repeat-x scroll 0 0 transparent;
    border-left: 1px solid #AFD69E;
    border-right: 1px solid #AFD69E;
    border-top: 1px solid #AFD69E;
}

#subnav-fixed {
    z-index: 1030;
}

.subnav {
    height: 36px;
    width: 100%;
}

div#submenu {
    background: #EEEEEE -moz-linear-gradient(center top, #F5F5F5 0%, #EEEEEE 100%) repeat-x;
    height: 36px;
    font-weight: bold;

    border: 0 solid #D5D5D5;
    border-bottom-width: 1px;
    border-radius: 0 0 0 0;
    box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);
    z-index: 1030;
}

div#subnav-fixed ul {
    margin-left: auto;
    margin-right: auto;
}

div#submenu li a {
    border-right: 1px solid #E5E5E5;
}

div#submenu li:last-child a {
    border-right: none
}

div#presentation {
    height: 300px;
    background-image: url(http://placehold.it/620x300);
}

div#featured-articles {
    height: 300px;
    background-image: url(http://placehold.it/300x300);
}

.top-margin {
    margin-top: 20px;
}

body > div.container {
    height: 600px;
}

div#banner-top {
    height: 90px;
    width: 728px;
    margin-left: auto;
    margin-right: auto;
}

div#discount-products-container {
    background: url(http://placehold.it/300x400);
    height: 400px
}

div#popular-products-container {
    background: url(http://placehold.it/300x400);
    height: 400px
}

div#selected-products-container {
    background: url(http://placehold.it/300x400);
    height: 400px
}

div.products-table-container {
    border: none;
}

div.products-table-container table {
    margin-top: 15px;
}

div.products-table-container table td {
    vertical-align: top;
    padding: 4px 5px;
}

span.product-before-discount {
    color: #808080;
    text-decoration: line-through;
}

span.product-discount {
    color: green;
    font-weight: bold;
}

span.price {
    /*font-weight: bold;*/
    color: #990000;
}