{% extends "base_generic.html" %}

{% block tabs %}
<div id="tabs">
	<ul class="catalogo left">
		<li class="intro-catalogo">Tipos de Productos</li>
	    {% for ptype in ptypes %}
            <li>
                <a href="{% url cotizador.views.product_type_index ptype.urlname %}" title="{{ ptype.indexname }}">
                    {{ ptype.indexname }}
                </a>
            </li>
        {% endfor %}
	</ul>
	
	<!--<ul class="social right">
		<li class="rss"><a href="#">Suscríbete</a></li>
		<li class="twitter"><a href="#">Síguenos</a></li>
	</ul>-->
</div> <!-- end tabs -->
{% endblock %}

