<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="http://www.facebook.com/2008/fbml">
	<head>
    	<meta name="google-site-verification" content="64bo8jFsY-z1W8ESbWI55hutieS0ToHouTiOPGQZLz8" />
		<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
		<title>
		    {% block title %}
		        {{ site_name }}
	        {% endblock %}
	    </title>
		<link rel="stylesheet" href="/media/css/screen.css?v=3" type="text/css" media="screen, projection" />
		<link rel="stylesheet" href="/media/css/menu_style.css" type="text/css" media="screen, projection" />
   	 	<link rel="stylesheet" href="/media/css/layout.css?v=3" type="text/css" media="screen, projection" />
   	 	<link rel="stylesheet" href="/media/css/mine.css" type="text/css" media="screen, projection" />
   	 	<link rel="stylesheet" href="/media/css/dialog/jquery-ui-1.8.10.custom.css" type="text/css" />
   	 	<link rel="shortcut icon" href="/media/icons/favicon_solotodo.ico" type="image/x-icon" />
   	 	<script type="text/javascript" src="/media/js/jquery-1.4.3.min.js"></script>
   	 	<script type="text/javascript" src="/media/js/dialog/jquery-ui-1.8.10.custom.min.js"></script>
   	 	<script type="text/javascript" src="/media/js/accounts_scripts.js"></script>
        <script type="text/javascript" src="/media/js/comparison_list.js"></script>
        <script type="text/javascript" src="/media/js/store.js"></script>

        <script type="text/javascript">
            authenticated_user = {% if user.is_authenticated %}true{% else %}false{% endif %}
        </script>
   	 	{% block header_content %}
		{% endblock %}

		<!--[if IE 7]>
			<link rel="stylesheet" type="text/css" href="/media/css/ie7style.css" />
		<![endif]-->
		<!--[if IE 8]>
			<link rel="stylesheet" type="text/css" href="/media/css/ie8style.css" />
		<![endif]-->
	</head>
	
	<body>
		<div id="head">
			<div id="content-head" class="container">
				<div id="nav-user" class="nav-mine">
					{% if authenticated_user %}    
                        <div id="logout">
                            <div>
                                <span id="logout_links">
                                <span class="full_name">{{ user.get_profile.name }}</span> |
                                <a href="{% url solonotebooks.cotizador.views_account.subscriptions %}" class="toplink">Mis Productos</a> | 
                                {% if user.is_superuser %}
                                <a href="{% url solonotebooks.cotizador.views_manager.news %}" class="toplink">Administrador</a> | 
                                {% endif %}
                                {% if user.is_staff %}
                                <a href="{% url solonotebooks.cotizador.views_staff.new_entities user.id %}" class="toplink">Staff</a> | 
                                {% endif %}
                                {% if user.get_profile.assigned_store %}
                                <a href="{% url solonotebooks.cotizador.views_store.index %}" class="toplink">Gestor de tienda</a> | 
                                {% endif %}
                                <a href="{% url solonotebooks.cotizador.views_account.logout %}{% if next %}?next={{ next|urlencode }}{% endif %}" class="toplink">Logout</a>
                                </span>
                            </div>
                        </div>            
                    {% else %}
                        <div id="login">
                            <form id="login-form" method="post" action="/account/login/{% if next %}?next={{ next|iriencode }}{% endif %}">
                                <span class="toplink">Nombre:</span> <input class="login_input" type="text" name="username" id="username" />
                                &nbsp;
                                <span class="toplink">Contraseña:</span> <input class="login_input" type="password" name="password" id="password">
                                <input type="submit" value="Entrar" class="login_button" />
                                &nbsp;
                                <span><a href="" class="regenerate_link toplink">¿Olvidaste tu contraseña?</a>
                                </span>
                                
                            </form>
                            <div id="fb-root"></div>
                            <div id="fb-root"></div>
                            <script>
                                window.fbAsyncInit = function() {
                                    FB.init({
                                                appId      : '{{ FACEBOOK_ID }}', // App ID
                                                status     : true, // check login status
                                                cookie     : true, // enable cookies to allow the server to access the session
                                                xfbml      : true  // parse XFBML
                                            });
                                };
                                // Load the SDK Asynchronously
                                (function(d){
                                    var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
                                    if (d.getElementById(id)) {return;}
                                    js = d.createElement('script'); js.id = id; js.async = true;
                                    js.src = "//connect.facebook.net/en_US/all.js";
                                    ref.parentNode.insertBefore(js, ref);
                                }(document));
                            </script>

                            <div class="fb-login-button">Entrar con Facebook</div>
                            <script>
                                window.fbAsyncInit = function() {
                                    FB.init({
                                        appId : '{{ settings.FACEBOOK_ID }}',
                                        status : true,
                                        cookie : true,
                                        xfbml : true
                                    });

                                    FB.Event.subscribe('auth.authResponseChange', function(authResponse){
                                        handle_facebook_login(authResponse);
                                    });
                                };


                                (function(d){
                                    var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
                                    js = d.createElement('script'); js.id = id; js.async = true;
                                    js.src = "//connect.facebook.net/es_CL/all.js";
                                    d.getElementsByTagName('head')[0].appendChild(js);
                                }(document));
                            </script>
                        </div>
                    {% endif %}
					
				<br class="clear" />	
				</div><!-- end nav user -->
					
				<div id="menu">
					<div id="combo-search" class="left">
						<a href="{% url solonotebooks.cotizador.views.index %}" title="Inicio" title="{{ site_name }}" class="left main-logo"><img src="/media/css/img/logo_4.png" /></a>
						<ol id="search" class="left">
						    <form method="get" action="{% url solonotebooks.cotizador.views.search %}">
							<li>
    							    <input name="search_keywords" type="text" class="input-search" value="¿Qué{% if ptype %} {{ ptype.displayname }}{% endif %} estás buscando?" />
    							    {% if ptype %}
    							        <input name="product_type" type="hidden" value="{{ ptype.urlname }}" />
    							    {% endif %}
    							    </li>
							<li><input type="submit" class="btn-search" value=""/></li>
</form>
						</ol>
					<br class="clear" />
					</div> <!-- end combo -->
					
					<div id="areas-site" class="right">
						<ul>
							<li class="sprite-inicio-active"><a href="{% url solonotebooks.cotizador.views.index %}" title="Inicio">Inicio</a></li>
							<li class="sprite-catalogo">							    
							    <a href="{% if ptype %}{% url solonotebooks.cotizador.views.product_type_catalog ptype.urlname %} {% else %}/{% endif %}" title="Catálogo">
							        Catálogo
						        </a>
						    </li>
							<li class="sprite-blog"><a href="/blog/" title="Blog">Blog</a></li>
						</ul>
					</div> <!-- end areas -->
				<br class="clear" />
				</div> <!-- end menu -->
				
				{% block tabs %}
				<div id="tabs">
                    <ul class="catalogo left">
                        {% if tabs %}
                            <li class="intro-catalogo">{{ tabs.0 }}</li>
                            {% for tab_option in tabs.1 %}
                                <li {% ifequal tab_option.0 main_category_comparison_key %}class="active-menu"{% endifequal %}>
                                    <a href="{{ tab_option.2 }}">{{ tab_option.1 }}</a>
                                </li>
                            {% endfor %}
                        {% else %}
                            <li class="intro-catalogo"></li>

                            <li>
                                <a href="/notebooks/catalog/">Notebooks</a>
                            </li>

                            <li>
                                <a href="/cellphones/catalog/">Celulares</a>
                            </li>

                            <li>
                                <a href="/screens/catalog/">Televisores y Monitores</a>
                            </li>

                            <li class="item-with-subcatalog">
                                <a href="#">Partes de PC</a>

                                <ul class="subcatalog">
                                    <li>
                                        <a href="/video_cards/catalog/">Tarjetas de video</a>
                                    </li>
                                    <li>
                                        <a href="/processors/catalog/">Procesadores</a>
                                    </li>
                                    <li>
                                        <a href="/motherboards/catalog/">Placas madre</a>
                                    </li>
                                    <li>
                                        <a href="/ram/catalog/">Memoria RAM</a>
                                    </li>
                                    <li>
                                        <a href="/storage_drives/catalog/">Discos duros y SSD</a>
                                    </li>
                                    <li>
                                        <a href="/power_supplies/catalog/">Fuentes de poder</a>
                                    </li>
                                    <li>
                                        <a href="/computer_cases/catalog/">Gabinetes</a>
                                    </li>
                                </ul>
                            </li>

                        {% endif %}
                    </ul>
                </div>
				{% endblock %}
				
			</div><!-- !end content head -->
		</div> <!-- !end #head -->
		
		<!-- !end head global -->
		
		<div id="ad_top" class="container">
		    <div id="ad_top_container">
    			{{ top_ad.embedding_html|safe }}
			</div>
		</div> <!-- !end ads-top -->
		
		<a href="/blog/contacto" title="Contacto" class="contacto">&nbsp</a>
		
		<div id="content" class="container">
		    {% block flash_message %}
                {% if flash.message %}
                    <div id="info_message" class="info_message">
                        {{ flash.message }}
                    </div>
                {% endif %}
            {% endblock %}
            <div id="js_info_message" class="info_message" style="display:hidden;">
            </div>
            {% block flash_error %}
                {% if flash.error %}
                    <div id="error_message" class="error_message">
                        {{ flash.error }}
                    </div>
                {% endif %}
            {% endblock %}
		    {% block alert_content %}
		    {% endblock %}
			{% block content %}
    		{% endblock %}					
		    <br class="clear" />
		</div> <!-- !end #content-->	
		<!-- !end content global -->
		
		<div id="footer"></div> <!-- end #footer -->

		{% if not user.is_authenticated %}
            <div class="dialog_form" id="dialog_regenerate" title="Regeneración de contraseña" style="display: none;">
	            <div>
	                <div style="margin-bottom: 10px;">
	                Si no recuerdas tu contraseña, coloca tu nombre de usuario a continuación y se te hará llegar una nueva a tu cuenta de correo. Esto sólo será posible si tu cuenta de correo está activada.
                    </div>
	                <form id="regenerate_password_form" method="post" action="/account/regenerate_password/">
	                    <div class="dialog_error" id="regenerate_error"></div>
	                    <div class="signup_element">
                            <label for="username" maxlength="30">Nombre de usuario: </label> 
                            <input type="text" name="username" id="regenerate_username" />
                        </div>
	                </form>
                    <div id="regenerate_ajax_loader" class="ajax_loader">
                        <img src="/media/assets/ajax-loader.gif" />
                    </div>	    
	            </div>
            </div>
            {% endif %}
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-11970222-1");
    pageTracker._trackPageview();
    } catch(err) {}</script>

    <script type="text/javascript">
        var uvOptions = {};
        (function() {
            var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
            uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/4WVfWANMOsQ8OjCU4pVA.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
        })();
    </script>
	</body>
</html>
