<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
		<title>
		    {% block title %}
		        {{ site_name }}
	        {% endblock %}
	    </title>
		<link rel="stylesheet" href="/media/css/screen.css" type="text/css" media="screen, projection" />
		<link rel="stylesheet" href="/media/css/menu_style.css" type="text/css" media="screen, projection" />
   	 	<link rel="stylesheet" href="/media/css/layout.css" type="text/css" media="screen, projection" />
   	 	<link rel="stylesheet" href="/media/css/mine.css" type="text/css" media="screen, projection" />
   	 	<link rel="stylesheet" href="/media/css/dialog/jquery-ui-1.8.9.custom.css" type="text/css" />
   	 	<link rel="shortcut icon" href="/media/icons/new_favicon.ico" type="image/x-icon" />
   	 	<script type="text/javascript" src="/media/js/jquery-1.4.3.min.js"></script>
   	 	<script type="text/javascript" src="/media/js/dialog/jquery-ui-1.8.9.custom.min.js"></script>
   	 	<script type="text/javascript" src="/media/js/account_script.js"></script>
        <script type="text/javascript" src="/media/js/comparison_list.js"></script>
        <script type="text/javascript">
            authenticated_user = {% if user.is_authenticated %}true{% else %}false{% endif %}
        </script>
   	 	{% block header_content %}
		{% endblock %}

		<!--[if IE 7]>
			<link rel="stylesheet" type="text/css" href="/media/css/ie7style.css" />
		<![endif]-->
		<!--[if IE 8]>
			<link rel="stylesheet" type="text/css" href="/media/css/ie8style.css" />
		<![endif]-->
		<script type="text/javascript">
		        $(document).ready(function() {
		
		            $(".signin").click(function(e) {
		                e.preventDefault();
		                $("fieldset#signin_menu").toggle();
		                $(".signin").toggleClass("menu-open");
		            });
		
		            $("fieldset#signin_menu").mouseup(function() {
		                return false
		            });
		            $(document).mouseup(function(e) {
		                if($(e.target).parent("a.signin").length==0) {
		                    $(".signin").removeClass("menu-open");
		                    $("fieldset#signin_menu").hide();
		                }
		            });            
		
		        });
		</script>

	</head>
	
	<body>
		
		<div id="head">
			<div id="content-head" class="container">
				
				<div id="nav-user" class="nav-mine">
					{% if authenticated_user %}    
                        <div id="logout">
                            <div>
                                <span id="logout_links">
                                {{ username }} | <a href="{% url cotizador.views_account.subscriptions %}" class="toplink">Mis Productos</a> | <a href="{% url cotizador.views_account.logout %}{% if next %}?next={{ next|urlencode }}{% endif %}" class="toplink">Logout</a>
                                </span>
                            </div>
                        </div>            
                    {% else %}
                        <div id="login">
                            <form id="login-form" method="post" action="/account/login/{% if next %}?next={{ next|iriencode }}{% endif %}">
                                <span class="toplink">Nombre:</span> <input class="login_input" type="text" name="username" id="username">
                                &nbsp;
                                <span class="toplink">Contraseña:</span> <input class="login_input" type="password" name="password" id="password">
                                <input type="submit" value="Entrar" class="login_button" />
                                &nbsp;
                                <span><a href="" id="register_link" class="register_link toplink">Registrarse</a> | <a href="" class="regenerate_link toplink">¿Olvidaste tu contraseña?</a>
                                </span>
                            </form>
                        </div>
                    {% endif %}
					
				<br class="clear" />	
				</div><!-- end nav user -->
					
				<div id="menu">
					<div id="combo-search" class="left">
						<a href="{% url cotizador.views.index %}" title="Inicio" title="{{ site_name }}" class="left"><img src="/media/css/img/logo.png" /></a>
						<ol id="search" class="left">
						    <form method="get" action="{% url cotizador.views.search %}">
							<li>
    							    <input name="search_keywords" type="text" class="input-search" value="¿Qué{% if ptype %} {{ ptype.displayname }}{% endif %} estás buscando?" />
    							    {% if ptype %}
    							        <input name="product_type" type="hidden" value="{{ ptype.urlname }}" />
    							    {% endif %}
    							    </li>
							<li><input type="submit" class="btn-search" value=""/></li>
</form>
						</ol>
					<br class="clear" />
					</div> <!-- end combo -->
					
					<div id="areas-site" class="right">
						<ul>
							<li class="sprite-inicio-active"><a href="{% url cotizador.views.index %}" title="Inicio">Inicio</a></li>
							<li class="sprite-catalogo">							    
							    <a href="{% if ptype %}{% url cotizador.views.product_type_catalog ptype.urlname %} {% else %}/{% endif %}" title="Catálogo">
							        Catálogo
						        </a>
						    </li>
							<li class="sprite-blog"><a href="/blog/contacto/" title="Contacto">Contacto</a></li>
						</ul>
					</div> <!-- end areas -->
				<br class="clear" />
				</div> <!-- end menu -->
				
				{% block tabs %}
				<div id="tabs">
					<ul class="catalogo left">
						<li class="intro-catalogo">Tipos de {{ ptype.displayname }}</li>
					    {% for category_choice in main_category_choices %}
                            <li {% ifequal category_choice.id main_category_comparison_key %}class="active-menu"{% endifequal %}>
                                <a href="{% url cotizador.views.product_type_catalog ptype.urlname %}?{{ change_category_url }}={{ category_choice.id }}" title="{{ category_choice }}">
                                    {{ category_choice }}
                                </a>
                            </li>
                        {% endfor %}
					</ul>
					
					<!--<ul class="social right">
						<li class="rss"><a href="#">Suscríbete</a></li>
						<li class="twitter"><a href="#">Síguenos</a></li>
					</ul>-->
				</div> <!-- end tabs -->
				{% endblock %}
				
			</div><!-- !end content head -->
		</div> <!-- !end #head -->
		
		<!-- !end head global -->
		
		<div id="ad_top" class="container">
			{{ top_ad.embedding_html|safe }}
		</div> <!-- !end ads-top -->
		
		<div id="content" class="container">
		    {% block flash_message %}
                {% if flash.message %}
                    <div id="info_message" class="info_message">
                        {{ flash.message }}
                    </div>
                {% endif %}
            {% endblock %}
            {% block flash_error %}
                {% if flash.error %}
                    <div id="error_message" class="error_message">
                        {{ flash.error }}
                    </div>
                {% endif %}
            {% endblock %}
		    {% block alert_content %}
		    {% endblock %}
			{% block content %}
    		{% endblock %}					
		    <br class="clear" />
		</div> <!-- !end #content-->	
		<!-- !end content global -->
		
		<div id="footer"></div> <!-- end #footer -->
		<div id="fb-root"></div>
		
		{% if not user.is_authenticated %}
            <div class="dialog_form" id="dialog-confirm" title="Formulario de registro" style="display: none;">
	            <div>
                    <div id="signup_text"></div>
	                <form id="signup_form" method="post" action="/account/signup">
	                    <div class="dialog_error" id="signup_error"></div>
	                    <div class="signup_element">
                            <label for="username" maxlength="30">Nombre de usuario: </label> 
                            <input type="text" name="username" id="signup_username" />
                        </div>
	                    <div class="signup_element">            
                            <label for="email">Correo electrónico: </label> 
                            <input type="text" name="email" id="signup_email" />
                        </div>
	                    <div class="signup_element">
                            <label for="password">Contraseña: </label> 
                            <input type="password" id="signup_password" name="password" id="signup_password" />
                        </div>
	                    <div class="signup_element">
                            <label for="repeat_password">Repita la contraseña: </label> 
                            <input type="password" name="repeat_password"  id="signup_repeat_password" />
                        </div>
                        <input type="hidden" name="sigup_key" id="signup_key" value="{{ signup_key }}" />
	                </form>
	                <br />
	                <a href="#" id="already_registered_link">¿Ya estás registrado?</a>
                    <div id="signup_ajax_loader" class="ajax_loader">
                        <img src="/media/assets/ajax-loader.gif" />
                    </div>
	            </div>
            </div>

            <div class="dialog_form" id="dialog_regenerate" title="Regeneración de contraseña" style="display: none;">
	            <div>
	                <div style="margin-bottom: 10px;">
	                Si no recuerdas tu contraseña, coloca tu nombre de usuario a continuación y se te hará llegar una nueva a tu cuenta de correo. Esto sólo será posible si tu cuenta de correo está activada.
                    </div>
	                <form id="regenerate_password_form" method="post" action="/account/regenerate_password">
	                    <div class="dialog_error" id="regenerate_error"></div>
	                    <div class="signup_element">
                            <label for="username" maxlength="30">Nombre de usuario: </label> 
                            <input type="text" name="username" id="regenerate_username" />
                        </div>
	                </form>
                    <div id="regenerate_ajax_loader" class="ajax_loader">
                        <img src="/media/assets/ajax-loader.gif" />
                    </div>	    
	            </div>
            </div>

            <div class="dialog_form" id="dialog_login" title="Login" style="display: none;">
	            <div>
	                <form id="login_form" method="post" action="/account/ajax_login">
	                    <div class="dialog_error" id="login_error"></div>
	                    <div class="signup_element">
                            <label for="username" maxlength="30">Nombre de usuario: </label> 
                            <input type="text" name="username" id="login_username" />
                        </div>
	                    <div class="signup_element">
                            <label for="password">Contraseña: </label> 
                            <input type="password" name="password" id="login_password" />
                        </div>            
	                </form>
                    <div id="login_ajax_loader" class="ajax_loader">
                        <img src="/media/assets/ajax-loader.gif" />
                    </div>	    
	            </div>
            </div>
            {% endif %}
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-11970222-1");
    pageTracker._trackPageview();
    } catch(err) {}</script>
	</body>
</html>
