#product_list_container {
    margin: 20px 0 20px 18px;
}

.processor_table {
    width: auto;
}

.default_table {
    width: auto;
    background-color: white;
}

.default_table tr.even td {
    background-color: white;
}

.default_table tbody tr.even td  { 
	background-color: #ffffff; 
}

.product_details_sidebar {
    float: right;
    width: 300px;
    margin-left: 10px;
    margin-top: 10px;
}

.advertisement_details_sidebar {
    float: right;
    width: 450px;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
}


.product_details_specs {
    padding: 10px;
}

.product_details_specs h1 {
    font-size: 30px;
}

.product_container a {
    text-decoration: none;
    color: #005C8E;
}

.product_container {
    height: 100px;
}

.product_thumb_image {
    float: left;
    margin-right: 15px;
    height: 100px;
    width: 100px;
    text-align: center;
}

.product_thumb_price {
    float: right;
    color: #005C8E;
    font-weight: bold;
    font-size: 24px;
    padding-top: 35px;
}

.mytable tbody tr td {
    background-color: #ffffff;
}

.table_product_detail_prices {
    margin-top: 30px;
    width: 300px;
}

.table_product_detail_prices tr td {
    text-align: center;
    font-size: 16px;
    background: #FFFFFF;
}

.table_product_detail_prices th {
    font-size: 18px;
    text-align: center;
}

h3.subtitle {
    margin-top: 10px;
}

br.product_details_comment_separator {
    clear: both;
}

.comment_nickname {
    font-weight: bold;
}

.comment_date {
    font-size: 8px;
}

.comment_body {
    margin-top: 10px;
}

#product_comment_add {
    margin-top: 10px;
}

#comment_form {
    margin-top: 10px;
}

.comment_form_label {
    font-weight: bold;
}

#comment_form textarea {
    width: 300px;
}

#result_set {
    margin: 20px 0 20px 18px;
}

#toggle_hidden_link {
    font-size: 14px;
    font-weight: bold;
}

#toggle_hidden_link_container {
    margin-left: 10px;
    margin-top: 5px;
}

#ad_top {
    text-align: center;
}

#ad_top_container {
    width: 748px;
    height: 100px;
    background-color: white;
    margin-left: 90px;
    padding-top: 10px;
}

#ad-right {
    text-align: center;
}

.thumb-product {
    text-align: center;
}

.error_message {
    border: 2px solid #970000;
    background-color: #FFD4D4;
    color: #970000;
    padding: 10px;
    margin: 10px;
    display: none;    
}

.dialog_button {
    /*height: 24px;*/
}

.dialog_form label {
    width: 150px;
    float: left;
    width: 140px;
    margin-right: 10px;
    padding-top: 6px;
    text-align: right;
    font-weight: bold;
}

#signup_form input {
    width: 180px;
}

.signup_element {
    padding: 2px;
}

.dialog_error {
    border: 2px solid #970000;
    background-color: #FFD4D4;
    color: #970000;
    font-size: 12px;
    padding: 2px;
    margin: 5px;
    display: none;
    padding-left: 10px;
}

#custom_form label {
    width: 200px;
}

.errorlist {
    font-weight: bold;
    font-size: 11px;
    color: #970000;
    list-style-type: none;
}

.info_message {
    border: 2px solid #468130;
    background-color: #CBDCCB;
    color: #216B1A;
    padding: 10px;
    margin: 10px;
    display: none;
}

#signup_text {
    margin-bottom: 10px;
}

.ajax_loader {
    display: none;
    margin-top: 10px;
    text-align: center;
}

#account_options {
    font-weight: bold;
    font-size: 13px;
    padding-top: 10px;
    margin-bottom: 10px;
}

#subscription_list td {
    background-color: inherit;
}

#subscription_list th {
    text-align: center;
}

#always_on_error_message {
    display: block;
}

#content {
    padding-top: 10px;
    padding-left: 10px;
}

.processor_image_container {
    float: left;
    margin: 0px 5px 5px 0px;
}

.sub_ul {
    margin-left: 20px;
}

.selected_processor td {
    font-weight: bold;
}

#categories-index {
    background: #FFFFFF; 
    margin: 0px 0 23px 3px; 
    height: auto;
}

.subheader {
    clear: both;
}

.processor_list_option {
}

#fb-root {
    padding-top: 3px;
    padding-left: 10px;
}

#login_table {
    width: 350px;
}

.login_options {
    padding-top: 10px;
    font-size: 14px;
}

#facebook_recommendations {
    margin-bottom: 10px;
}

#product_like {
    margin-top: 10px;
}

.main-logo img {
    position: relative;
    top: -20px;
}

#combo-search {
    padding-left: 45px;
}

.shpe_link {
    font-size: 14px;    
}

.advertisement_list input {
}

#free_products {
    float: left;
}

#reserved_products {
    float: right;
}

#advertisement_buttons {
    text-align: center;
}

.advertisement_list {
    height: 500px;
    overflow:auto;
    width: 350px;
}

.advertisement_counter {
    margin-top: 10px;
}

#advertisement_image {
    text-align: center;
}

.hasDatepicker {
    width: 140px;
}

#advertisement_tabs {
    margin-right: 10px;
}

.advertisement_fact {
    font-size: 14px;
}

.sponsored-li {
    border: 1px dashed #4E7DA5;
}

.sponsored-result-text {
    font-size: 10px;
    font-weight: bold;
    margin-top: 10px;
    color: green;
}

.manager_menu {
}

.manager_menu li {
    float: left;
    font-size: 13px;
    background-color: #E5E5E5;
    font-weight: bold;
    padding: 5px 10px;
}

.manager_menu li a {
    color: black;
}

.bigger_text {
    font-size: 14px;
}

#shpe_search_form input[type='text'] {
    width: 600px;
}

.store_error {
    font-weight: bold;
    font-size: 10px;
    color: red;
}

.ui-tabs-panel a {
    text-decoration: underline;
}

div#cell_tier_details {
    font-size: 16px;
}

.cell_pricing_span {
    font-size: 12px;
}

div.review_container a {
    display: block;
    padding: 5px 10px;
    color: white;
    font-weight: bold;
    width: 350px;
    border-radius: 3px;
    background-color: #11558a;
    width: 350px;
    font-size: 13px;
    margin-bottom: 20px;
}