{% extends "base_generic.html" %}

{% block content %}
<ul>
    <li>
        <a href="/manager/news" title="Últimos Movimientos"><span>Últimos Movimientos</span></a>
    </li>
    <li>
        <a href="/manager/comments" title="Comentarios"><span>Comentarios</span></a>
    </li>
    <li>
        <a href="/manager/new_entities" title="Nuevos Equipos"><span>Nuevas entidades</span></a>
    </li>
    <li>
        <a href="/manager/analyze_searches" title="Analizar consultas"><span>Analizar consultas</span></a>
    </li>
</ul> 

{% block manager_content %}
{% endblock %}
{% endblock %}
