{% extends "manager/base.html" %}

{% block title %}SoloNotebooks - Manager{% endblock %}

{% block manager_content %}

<h2>Notebooks por ingresar</h2>

{% if new_notebooks %}

    {% for notebook in new_notebooks %}
        <li>{{ notebook.custom_name }} (<a href="/manager/storehasproductentity/{{ notebook.id }}/edit">Editar</a> | <a href="/manager/hide_notebook/{{ notebook.id }}">Esconder</a>)</li>
    {% endfor %}
    
{% else %}
    <p>No hay notebooks por ingresar</p>
{% endif %}

{% endblock %}
