<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
    <head>
        <title>{{ site_name }}</title>
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
        <!--<link rel="stylesheet" type="text/less" href="/media/less/bootstrap.less" media="screen" />-->
        <link rel="stylesheet" type="text/css" href="/media/cssv2/bootstrap.min.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/media/cssv2/ui.selectmenu.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/media/cssv2/custom.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/media/cssv2/smoothness/jquery-ui-1.8.17.custom.css" media="screen" />
        <link rel="shortcut icon" href="/media/img/favicon-solotodo.ico" type="image/x-icon" />
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="/media/jsv2/bootstrap.min.js"></script>
        <script type="text/javascript" src="/media/jsv2/jquery-ui-1.8.17.custom.min.js"></script>
        <script type="text/javascript" src="/media/jsv2/ui.selectmenu.js"></script>
        <!--<script type="text/javascript" src="/media/jsv2/less-1.2.1.min.js"></script>-->
        <script type="text/javascript" src="/media/jsv2/common_features.js"></script>
    </head>
    <body>
        <div id="header-fluid" class="row-fluid">
            <div class="row" id="login-information">

            </div>
            <div id="title-and-search" class="container">
                <div class="span2" id="logo-container">
                    <a href="{% url solonotebooks.cotizador.views.index %}">
                        <img src="/media/img/main-logo.png" />
                    </a>
                </div>
                <div class="span9" id="motivation-message">
                    <h1>Encuentra el mejor notebook para tu presupuesto y necesidades</h1>
                </div>
                <form method="post" action="{% url solonotebooks.cotizador.views.simple_search %}">
                    <div class="span9 thumbnail" id="main-price-slider">
                        <div id="budget">
                            <h2>¿Cuánto quieres gastar?</h2>

                            <div id="slider-range-min"></div>
                            <div id="amount"></div>
                            <input type="hidden" name="id_max_price" id="id_max_price"/>
                        </div>
                        <div id="usage">
                            <h2>¿Para qué lo quieres?</h2>
                            <div>
                                {{ search_form.notebook_type }}
                            </div>
                        </div>
                        <div id="search">
                            <input class="btn btn-success" type="submit" value="Buscar" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="container top-margin">
            {% comment %}
            <div class="row">
                <div id="banner-top">
                    {{ top_ad.embedding_html|safe }}
                </div>
            </div>
            {% endcomment %}
            <div class="top-margin">
                {% block body %}
                {% endblock %}
            </div>
        </div>
        <div id="footer-fluid" class="top-margin">
            <div class="container">
                <div class="row">
                    <div class="span4">
                        <h3>Acerca de SoloTodo</h3>
                        <hr />
                        Nuestra misión es ayudar a los consumidores a escoger el mejor producto de acuerdo a sus necesidades y presupuesto.
                    </div>
                    <div class="span4">
                        <h3>Apariciones en los medios</h3>
                        <hr />
                        <table id="press-table">
                            <tr>
                                <td>
                                    <a href="http://www.lun.com/Pages/NewsDetail.aspx?dt=2010-08-19&PaginaId=18&bodyid=0" target="_blank">
                                        <img src="/media/img/press-lun.jpg" alt="LUN" />
                                    </a>
                                </td>
                                <td>
                                    "Ofrece el llamativo servicio de regatear y encontrar el precio más conveniente de notebooks"
                                </td>
                            </tr>
                            <tr>
                                <td>
                                <a href="http://tele13.13.cl/noticias/tecnologia/20255.htm" target="_blank">
                                    <img src="/media/img/press-c13.png" alt="Canal 13" />
                                </a>
                                </td>
                                <td>
                                    "Una cotización podía tomar horas buscando y ahora se reduce a minutos"
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="span4">
                        <h3>Contacto</h3>
                        <hr />
                        <address>
                            SoloNotebooks EIRL <br />
                            Monseñor Felix Cabrera 62 - Oficina 3a, Providencia <br />
                            Santiago, Región Metropolitana - Chile <br />
                            (09) 83705241 <br />
                        </address>
                        
                        <a href="/blog/contacto/">Contáctanos vía web</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
