<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
		<title>SoloNotebooks - Todo Sobre Notebooks</title>
		<link rel="stylesheet" href="/media/cssv2/screen.css" type="text/css" media="screen, projection" />
   	 	<link rel="stylesheet" href="/media/cssv2/layout.css" type="text/css" media="screen, projection" />
   	 	<link rel="shortcut icon" href="/media/iconsv2/favicon.ico" type="image/x-icon" />
   	 	{% block header_content %}
		{% endblock %}

		<!--[if IE 7]>
			<link rel="stylesheet" type="text/css" href="/media/cssv2/ie7style.css" />
		<![endif]-->
		<!--[if IE 8]>
			<link rel="stylesheet" type="text/css" href="/media/cssv2/ie8style.css" />
		<![endif]-->
		<script type="text/javascript">
		        $(document).ready(function() {
		
		            $(".signin").click(function(e) {
		                e.preventDefault();
		                $("fieldset#signin_menu").toggle();
		                $(".signin").toggleClass("menu-open");
		            });
		
		            $("fieldset#signin_menu").mouseup(function() {
		                return false
		            });
		            $(document).mouseup(function(e) {
		                if($(e.target).parent("a.signin").length==0) {
		                    $(".signin").removeClass("menu-open");
		                    $("fieldset#signin_menu").hide();
		                }
		            });            
		
		        });
		</script>

	</head>
	
	<body>
		
		<div id="head">
			<div id="content-head" class="container">
				
				<div id="nav-user">
					<ul class="right">
						<li>¿Todavía no eres usuario?</li>
						<li><a href="#" title="Registrarte">Registrate</a></li>
						<li id="login-box">
							<span id="topnav" class="topnav"> Tienes una cuenta <a href="login" class="signin"><span>Ingresar</span></a></span> 
							  <fieldset id="signin_menu">
							    <form method="post" id="signin" action="/account/login/">
							      <label for="username">Nombre de usuario</label>
							      <input id="username" name="username" value="" title="username" tabindex="4" type="text">
							      </p>
							      <p>
							        <label for="password">Clave</label>
							        <input id="password" name="password" value="" title="password" tabindex="5" type="password">
							      </p>
							      <p class="remember">
							        <input id="signin_submit" value="Ingresar" tabindex="6" type="submit">
							        <input id="remember" name="remember_me" value="1" tabindex="7" type="checkbox">
							        <label for="remember">Recordar mi cuenta</label>
							      </p>
							      <p class="forgot"><a href="#" >¿Olvidaste tu contraseña?</a> </p>
							    </form>
							  </fieldset>
						</li>
					</ul>
					
				<br class="clear" />	
				</div><!-- end nav user -->
					
				<div id="menu">
					<div id="combo-search" class="left">
						<a href="/" title="Inicio" title="Solo Notebooks" class="left"><img src="/media/cssv2/img/logo.png" /></a>
						<ol id="search" class="left">
						    <form method="get" action="/search">
							<li>
    							    <input name="search_keywords" type="text" class="input-search" />
    							    </li>
							<li><input type="submit" class="btn-search" value=""/></li>
</form>
						</ol>
					<br class="clear" />
					</div> <!-- end combo -->
					
					<div id="areas-site" class="right">
						<ul>
							<li class="sprite-inicio-active"><a href="/" title="Inicio">Inicio</a></li>
							<li class="sprite-catalogo"><a href="/catalog" title="Catálogo">Catálogo</a></li>
							<li class="sprite-blog"><a href="/blog" title="Blog">Blog</a></li>
						</ul>
					</div> <!-- end areas -->
				<br class="clear" />
				</div> <!-- end menu -->
				
				<div id="tabs">
					<ul class="catalogo left">
						<li class="intro-catalogo">Tipos de Notebooks</li>
						{% for notebook_type in form.fields.ntype.choices %}
                        <li {% ifequal notebook_type.0|add:"0" ntype_comparison_key|add:"0" %}class="active-menu"{% endifequal %}><a href="/catalog?{{change_ntype_url}}ntype={{notebook_type.0}}" title="{{notebook_type.1}}">{{notebook_type.1}}</a></li>						
                        {% endfor %}
					</ul>
					
					<ul class="social right">
						<li class="rss"><a href="#">Suscríbete</a></li>
						<li class="twitter"><a href="#">Síguenos</a></li>
					</ul>
				</div> <!-- end tabs -->
				
			</div><!-- !end content head -->
		</div> <!-- !end #head -->
		
		<!-- !end head global -->
		
		<div id="ad-top" class="container">
			{{ top_ad.embedding_html|safe }}
		</div> <!-- !end ads-top -->
		
		<a href="#" title="Contacto" class="contacto">&nbsp</a>
		
		<div id="content" class="container">
			{% block content %}
			<div id="left">
			
			</div> 
			<!-- !end left -->
				
			<div id="right">
				
				{% block right_content %}
				{% endblock %}
				
			</div> <!-- !end right -->
    		{% endblock %}					
		<br class="clear" />
		</div> <!-- !end #content-->	
		<!-- !end content global -->
		
		<div id="footer"></div> <!-- end #footer -->
		
	</body>
</html>				
