<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
		<title>
		    {% block title %}
		        SoloNotebooks - Todo sobre notebooks
	        {% endblock %}
	    </title>
		<link rel="stylesheet" href="/media/cssv2/screen.css" type="text/css" media="screen, projection" />
   	 	<link rel="stylesheet" href="/media/cssv2/layout.css" type="text/css" media="screen, projection" />
   	 	<link rel="stylesheet" href="/media/cssv2/mine.css" type="text/css" media="screen, projection" />
   	 	<link rel="shortcut icon" href="/media/iconsv2/favicon.ico" type="image/x-icon" />
   	 	<script type="text/javascript" src="/media/jsv2/jquery-1.4.3.min.js"></script>
<script type="text/javascript" src="/media/jsv2/comparison_list.js"></script>
   	 	{% block header_content %}
		{% endblock %}

		<!--[if IE 7]>
			<link rel="stylesheet" type="text/css" href="/media/cssv2/ie7style.css" />
		<![endif]-->
		<!--[if IE 8]>
			<link rel="stylesheet" type="text/css" href="/media/cssv2/ie8style.css" />
		<![endif]-->
		<script type="text/javascript">
		        $(document).ready(function() {
		
		            $(".signin").click(function(e) {
		                e.preventDefault();
		                $("fieldset#signin_menu").toggle();
		                $(".signin").toggleClass("menu-open");
		            });
		
		            $("fieldset#signin_menu").mouseup(function() {
		                return false
		            });
		            $(document).mouseup(function(e) {
		                if($(e.target).parent("a.signin").length==0) {
		                    $(".signin").removeClass("menu-open");
		                    $("fieldset#signin_menu").hide();
		                }
		            });            
		
		        });
		</script>

	</head>
	
	<body>
		
		<div id="head">
			<div id="content-head" class="container">
				
				<div id="nav-user">
					{% if authenticated_user %}    
                        <div id="logout">
                            <div>
                                <span id="logout_links">
                                {{ username }} | <a href="{% url cotizador.views_account.subscriptions %}">Mis Notebooks</a> | <a href="{% url cotizador.views_account.logout %}{% if next %}?next={{ next|urlencode }}{% endif %}">Logout</a>
                                </span>
                            </div>
                        </div>            
                    {% else %}
                        <div id="login">
                            <form id="login-form" method="post" action="/account/login/{% if next %}?next={{ next|iriencode }}{% endif %}">
                                Nombre: <input class="login_input" type="text" name="username" id="username">
                                &nbsp;
                                Contraseña: <input class="login_input" type="password" name="password" id="password">
                                <input type="submit" value="Entrar" class="login_button" />
                            </form>
                            <div id="login_options">
                                &nbsp;
                                <span><a href="" class="register_link">Registrarse</a> | <a href="" class="regenerate_link">¿Olvidaste tu contraseña?</a>
                                </span>
                            </div>
                        </div>
                    {% endif %}
					
				<br class="clear" />	
				</div><!-- end nav user -->
					
				<div id="menu">
					<div id="combo-search" class="left">
						<a href="{% url cotizador.views.index %}" title="Inicio" title="Solo Notebooks" class="left"><img src="/media/cssv2/img/logo.png" /></a>
						<ol id="search" class="left">
						    <form method="get" action="/search">
							<li>
    							    <input name="search_keywords" type="text" class="input-search" />
    							    </li>
							<li><input type="submit" class="btn-search" value=""/></li>
</form>
						</ol>
					<br class="clear" />
					</div> <!-- end combo -->
					
					<div id="areas-site" class="right">
						<ul>
							<li class="sprite-inicio-active"><a href="{% url cotizador.views.index %}" title="Inicio">Inicio</a></li>
							<li class="sprite-catalogo"><a href="{% url cotizador.views.catalog %}" title="Catálogo">Catálogo</a></li>
							<li class="sprite-blog"><a href="/blog" title="Blog">Blog</a></li>
						</ul>
					</div> <!-- end areas -->
				<br class="clear" />
				</div> <!-- end menu -->
				
				<div id="tabs">
					<ul class="catalogo left">
						<li class="intro-catalogo">Tipos de Notebooks</li>
					    {% for notebook_type in form.fields.ntype.choices %}
                            <li {% ifequal notebook_type.0|add:"0" ntype_comparison_key|add:"0" %}class="active-menu"{% endifequal %}>
                                <a href="{% url cotizador.views.catalog %}?{{change_ntype_url}}ntype={{notebook_type.0}}" title="{{ notebook_type.1 }}">
                                    {{notebook_type.1}}
                                </a>
                            </li>
                        {% endfor %}
					</ul>
					
					<ul class="social right">
						<li class="rss"><a href="#">Suscríbete</a></li>
						<li class="twitter"><a href="#">Síguenos</a></li>
					</ul>
				</div> <!-- end tabs -->
				
			</div><!-- !end content head -->
		</div> <!-- !end #head -->
		
		<!-- !end head global -->
		
		<div id="ad-top" class="container">
			{{ top_ad.embedding_html|safe }}
		</div> <!-- !end ads-top -->
		
		<div id="content" class="container">
			{% block content %}
    		{% endblock %}					
		    <br class="clear" />
		</div> <!-- !end #content-->	
		<!-- !end content global -->
		
		<div id="footer"></div> <!-- end #footer -->
		<div id="fb-root"></div>
	</body>
</html>				
