{% extends "cotizador/base_account.html" %}

{% block title %}SoloNotebooks - Mis notebooks{% endblock %}

{% block mainContent %}

<h1>Cambiar contraseña</h1>

<form id="custom_form" method="post">
    <div class="field_wrapper">
        {{ p_form.old_password.errors }}
        <label for="id_old_password">Contraseña actual: </label>
        {{ p_form.old_password }}
    </div>
    <div class="field_wrapper">
        {{ p_form.new_password.errors }}
        <label for="id_new_password">Nueva contraseña: </label>
        {{ p_form.new_password }}
    </div>
    <div class="field_wrapper">
        {{ p_form.repeat_new_password.errors }}
        <label for="id_repeat_new_password">Repita la nueva contraseña: </label>
        {{ p_form.repeat_new_password }}
    </div>    
    <p><input type="submit" value="Cambiar contraseña" /></p>
</form>

{% endblock %}
