{% extends "base_generic.html" %}
{% block header_content %}
	<link rel="stylesheet" href="/media/css/catalog.css" type="text/css" media="screen, projection" />
	<script type="text/javascript" src="/media/js/slider/jquery-ui-1.8.5.custom.min.js"></script>
	<script type="text/javascript" src="/media/js/slider/selectToUISlider.jQuery.js"></script>
	<link rel="stylesheet" href="/media/css/slider/redmond/jquery-ui-1.7.1.custom.css" type="text/css" />
	<link rel="stylesheet" href="/media/css/slider/ui.slider.extras.css" type="text/css" />
	<script type="text/javascript" src="/media/js/catalog.js"></script>
    {% block catalog_header_content %}
    {% endblock %}
{% endblock %}

{% block content %}
<div id="left-c">
    <div id="top-left">
		<img src="/media/css/img/fake-h1.png" class="left" /> <span class="left">Buscador</span>
		<br class="clear" />
	</div> <!-- !end top left -->
	<br />
				
	<form id="search_form" action="{% url cotizador.views.product_type_catalog ptype.urlname %}" method="get">
	
    	{{ form.main_category_bound_field.as_hidden }}
		<!-- Filtros generales -->
		<h2>Precio</h2>
		<div class="filter_item">
		    <div id="price_slider">
		        {{ form.min_price }} {{ form.max_price }}
			</div>
			<br />
		</div>
		
		{% for section in form.generate_interface_model %}
			<h2>{{ section.0 }}</h2>
			{% for field in section.1 %}
			    {% if field.0.requires_advanced_controls %}
    			    <div class="hidden_filter_item">
			    {% else %}
			        <div class="filter_item">
			    {% endif %}
			        <label>{{ field.0.name }}</label>
			        {{ field.1 }}
		        </div>
			{% endfor %}
		{% endfor %}

        <div id="toggle_hidden_link_container">
    		<a id="toggle_hidden_link" href="">Búsqueda avanzada</a>
		</div>
		<div>
			<input type="hidden" value="1" name="page_number"/>
		</div>
		
	    {{ form.ordering }}
        {{ form.advanced_controls }}
		{{ form.ordering_direction }}
		<hr />
		<!-- Botón de envío -->
		<div id="submit_container">
			<input type="submit" value="Buscar" />
		</div>
	</form>
				
				
</div> <!-- !end left -->
<!-- !end left -->	
	
<div id="right-c">
    {% block catalog_content %}
    {% endblock %}
</div> <!-- !end right -->
{% endblock %}		
