{% extends "cotizador/base_generic.html" %}

{% block top_menu %}
<div class="MTL"></div>
        <div class="MTR"></div>
        <ul>
            <li class="page_item page-item-2">
                <a class="on" href="/" title="Catálogo"><span>Catálogo</span></a>
            </li>
            <li class="page_item page-item-2">
                <a href="/blog" title="Blog"><span>Blog</span></a>
            </li>
            <li class="page_item page-item-2">
                <a href="/about" title="Nosotros"><span>Nosotros</span></a>
            </li>
            <li class="page_item page-item-2">
                <a href="/contacto" title="Contacto"><span>Contacto</span></a>
            </li>
        </ul> 
{% endblock %}
