{% extends "cotizador/base_catalog.html" %}

{% block title %}
    {{ form.generate_title }} - {{ site_name }}
{% endblock %}

{% block catalog_content %}
<div id="param-cat">

	<ul id="breadcrumbs">
        {% if not remove_filter_links %}
            <li>No hay filtros</li>
        {% else %}
		    {% for key, value in remove_filter_links.items %}
			<li>{{ key }}<sup><a href="{{ value }}" title="Remover filtro">(X)</a></sup></a> &gt;</li>
            {% endfor %}
        {% endif %}
	
	</ul>
	<br class="clear" />
	
	<div class="left precio-cat">
		{{ min_price }} a {{ max_price }} pesos
	</div>
	
	<div id="order-list">
	    <input type="hidden" id="current_url" value="{{ current_url }}" />
		<span>Ordenar por</span>
		<select id="ordering_options">
            {% for ordering_criteria in form.get_ordering_options %}
                {% ifequal ordering ordering_criteria.0 %}
                    <option value="{{ ordering_criteria.0 }}" selected="selected">{{ ordering_criteria.1 }}</option>            
                {% else %}
                    <option value="{{ ordering_criteria.0}}">{{ ordering_criteria.1 }}</option>
                {% endifequal %}
            {% endfor %}
        </select>
	</div>
	
<br class="clear" />
</div> <!-- end param cat -->

<div id="cat-index">
    {% if products %}
	<p class="resultados-p">{{first_result_index}} - {{ last_result_index }} de {{ num_results }} Resultados</p>	
	
	{% for product in products %}
        {{ product.render_div }}
    {% endfor %}
    {% else %}
        No hay resultados para su búsqueda
    {% endif %}
</div><!-- !end cat right -->

<div id="pagination">
    {% ifnotequal page_count 0 %}
        {% ifnotequal page_number 1 %}
		    <a href="{{ form.generate_base_page_link }}{{ prev_page }}" title="Anterior">&laquo; Anterior</a>                        
        {% endifnotequal %}
        {% ifnotequal left_page 1 %}
            ...
        {% endifnotequal %}
        {% for page in page_range %}
            {% ifequal page page_number %}
                <span class="page-active">Pagina: {{ page }}</span>
            {% else %}
			    <a href="{{ form.generate_base_page_link }}{{ page }}" title="Numero pagina">{{ page }}</a>
            {% endifequal %}
        {% endfor %}
        {% ifnotequal right_page page_count %}
            ...
        {% endifnotequal %}
        {% ifnotequal page_number page_count %}
            <a href="{{ form.generate_base_page_link }}{{ post_page }}" title="Siguiente">Siguiente &raquo;</a>
        {% endifnotequal %}
    {% endifnotequal %}
</div> <!-- end pagination -->
{% endblock %}		
