Hola {{ user.username }},

Muchas gracias por registrarte en SoloNotebooks, a través de este correo te podemos mantener al tanto de cualquier cambio en los notebooks que más te interesan, por ejemplo:

* Recibir notificaciones cuando cierto modelo vuelva a estar disponible si ahora no lo está
* Recibir notificaciones de sus cambios de precio

Pero antes que eso tenemos que validar que esta dirección de correo efectivamente te pertenece, para esto solo necesitas seguir este link e ingresar tu nombre de usuario y contraseña si se te solicita.

http://127.0.0.1/account/validate_email/?validation_key={{ user_digest }}

Si este correo te llegó por error, sólo tienes que ignorarlo / borrarlo, no te volveremos a molestar.

Atentamente,

El staff de SoloNotebooks
