{% extends "base_generic.html" %}

{% block title %}
    {{ site_name }}
{% endblock %}

{% block content %}

<h1 style="color: white; font-family: 'Droid Sans'; font-weight: bold; font-size: 26px;">
    ¿Qué estás cotizando?
</h1>
    
<br />

<div style="text-align: center;">
    <a href="{{ notebook_site }}">
        <img src="/media/img/solotodo_solonotebooks.png" />
    </a>

    <br />
    <br />

    <a href="{{ hardware_site }}">
        <img src="/media/img/solotodo_solohardware.png" />
    </a>

    <br />
    <br />

    <a href="{{ electro_site }}">
        <img src="/media/img/solotodo_soloelectro.png" />
    </a>
</div>
{% endblock %}
