{% extends "cotizador/base_browse.html" %}

{% block title %}SoloNotebooks - {{ notebook }}{% endblock %}

{% block header %}
    <link href="/media/css/galleria.css" rel="stylesheet" type="text/css" media="screen"> 
    <script type="text/javascript" src="/media/js/galleria/jquery.galleria.js"></script>
    <script type="text/javascript"> 
        $(function() { 
            $('ul.gallery').galleria({
			    history   : false, // deactivates the history object for bookmarking, back-button etc.
			    clickNext : false, // helper for making the image clickable. Let's not have that in this example.
			    insert    : '#image_container', // the containing selector for our main image. 
								       // If not found or undefined (like here), galleria will create a container 
								       // before the ul with the class .galleria_container (see CSS)
			    onImage   : undefined,
			    onThumb   : function() { $('ul.gallery img:first').click() },
		});

        }); 
    </script>
{% endblock %}

{% block mainContent %}

<div class="notebook_details_sidebar">
    <div class="notebook_details_images">
        <div id="image_container"></div>
        <ul class="gallery">
            <li>{{ notebook.picture.extra_thumbnails_tag.large }}</li>
            {% for picture in notebook.notebookpicture_set.all %}
                <li>{{ picture.picture.extra_thumbnails_tag.large }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="price_table_container">
        <table class="table_notebook_detail_prices">
            <tr>
                <th>Tienda</th>
                <th>Precio</th>
            </tr>
            {% for notebook_price in notebook_prices %}
                <tr>
                    <td>
                        <a href="/store_notebook/{{notebook_price.id}}">{{ notebook_price.store.picture.thumbnail_tag }}</a>
                    </td>
                    <td>
                        <a href="/store_notebook/{{notebook_price.id}}">{{ notebook_price.prettyPrice }}</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="price_changes">
        <h2>Variaciones de precio a la fecha</h2>
        {% for price_change in price_changes %}
            {{ price_change.prettyRepr }} <br />
        {% endfor %}
    </div>
</div>
<div class="notebook_details_specs">
    <h1>{{ notebook }}</h1>
    <h2>Especificaciones esenciales</h2>
    <strong>Procesador: </strong> <a href="/processor_line_families/{{ notebook.processor.line.family.id }}">{{ notebook.processor.prettyPrint }}</a>
    <br />
    <strong>Chipset: </strong> {{ notebook.chipset }}
    <br/>
    <strong>Pantalla: </strong> {{ notebook.screen.prettyDisplay }}
    <br />
    <strong>Memoria RAM: </strong> {{ notebook.ram_quantity }} ({{notebook.ram_type}}-{{notebook.ram_frequency.value}})
    <br />
    <strong>Almacenamiento: </strong>
    {% ifequal notebook.storage_drive.all.count 1 %}
        {{ notebook.storage_drive.all.0 }}
    {% else %}
        <ul>
            {% for storage in notebook.storage_drive.all %}
            <li>{{ storage }}</li>
        {% endfor %}
    </ul>
    {% endifequal %}
    <br />
    <strong>Tarjeta de video: </strong>
    {% ifequal notebook.video_card.all.count 1 %}
        {{ notebook.video_card.all.0 }}
    {% else %}
        <ul>
            {% for video_card in notebook.video_card.all %}
            <li>{{ video_card }}</li>
        {% endfor %}
    </ul>
    {% endifequal %}
    <br />
    <h2>Especificaciones secundarias</h2>
    <strong>Batería: </strong> {% if notebook.prettyBattery %} {{ notebook.prettyBattery }} {% else %} No hay información disponible {% endif %}
    <br />
    <strong>Peso: </strong> {% if notebook.weight %} {{ notebook.weight }} g. {% else %} No hay información disponible {% endif %}
    <br />
    <strong>Dimensiones: </strong> {% if notebook.prettyDimensions %} {{ notebook.prettyDimensions }} {% else %} No hay información disponible{% endif %}
    <br />
    <strong>Sistema Operativo: </strong> {{ notebook.operating_system }}
    <br />
    <strong>Unidad óptica: </strong> {{ notebook.optical_drive }}
    <br />
    <strong>WiFi: </strong> {{ notebook.wifi_card }}
    <br />
<h2>Accesorios</h2>
    <strong>Puertos USB: </strong> {% if notebook.usb_port_count %} {{ notebook.usb_port_count }} {% else %} No hay información disponible{% endif %}
    <br />
    <strong>Webcam: </strong> {% if notebook.webcam_mp %} {{ notebook.webcam_mp }} MP {% else %} No posee{% endif %}
    <br />
    <strong>LAN: </strong> {{ notebook.lan }}
    <br />
    <strong>Adaptador de energía: </strong> {{ notebook.power_adapter }}
    <br />
    <strong>Lector de tarjetas: </strong> {{ notebook.card_reader }}
    <br />
    <strong>Puertos de video: </strong> {{ notebook.prettyVideoPorts }}    
    <br />    
    <strong>¿RAM de doble canal?: </strong> {% if notebook.is_ram_dual_channel %} Sí {% else %} No {% endif %}
    <br />
    <strong>¿Bluetooth?: </strong> {% if notebook.has_bluetooth %} Sí {% else %} No {% endif %}
    <br />
        <strong>¿Conexión eSATA?: </strong> {% if notebook.has_esata %} Sí {% else %} No {% endif %}
    <br />
    <strong>¿Lector de huellas digitales?: </strong> {% if notebook.has_fingerprint_reader %} Sí {% else %} No {% endif %}
    <br />
    <strong>¿Conexión FireWire?: </strong> {% if notebook.has_firewire %} Sí {% else %} No {% endif %}
    <br />
    <hr />
    <div id="notebook_comments">
    <h2>Comentarios</h2>
    {% ifequal notebook_comments.count 0 %}
        No hay comentarios para este notebook
    {% else %}
        {% for comment in notebook_comments %}
            <div class="notebok_comment">
                <span class="comment_nickname">{{ comment.nickname }}</span>
                <span class="comment_date">{{ comment.date }}</span>
                <div class="comment_body">
                {{ comment.comments|safe }}
                </div>
                {% if admin_user %}
                    <small><a href="/manager/delete/{{ comment.id }}">Eliminar</a></small>
                {% endif %}
                <hr />
            </div>
        {% endfor %}
    {% endifequal %}
    </div>
    <div id="notebook_comment_add">
    {% if posted_comment %}
    <strong>Gracias por tus comentarios, dentro de unos minutos será publicado</strong>
    {% else %}
        ¿Preguntas, comentarios o sugerencias de este notebook? Deja tu mensaje!
        <form action="" id="comment_form" method="POST">
            <span class="comment_form_label">Nombre:</span>
            {{ comment_form.nickname }}
            <br />
            <span class="comment_form_label">Comentarios:</span>
            <br />
            {{ comment_form.comments }}
            <br />
            <input type="submit" value="Enviar" />
        </form>
    {% endif %}
    </div>
</div>
{% endblock %}
