{% extends "cotizador/base_catalog.html" %}

{% block title %}Tarjetas de video de notebooks - {{ site_name }}{% endblock %}

{% block catalog_content %}

<h1>Tarjetas de video de notebooks</h1>

<h2 class="subheader">Comparación de rendimiento</h2>
<table class="processor_table">
    <tr>
        <th>Modelo</th>
        <th>Tipo</th>
        <th>Velocidad <sup>*</sup></th>
        <th>Memoria</th>
        <th>Frec. Core</th>
        <th>Frec. Mem</th>
    </tr>
    {% for video_card in video_cards %}
        <tr>
            <td><a href="{% url cotizador.views.product_type_catalog ptype.urlname %}?video_card={{ video_card.id }}&advanced_controls=1">{{ video_card }}</a></td>
            <td>{{ video_card.card_type }}</td>
            <td>{{ video_card.speed_score }}</td>
            <td>{{ video_card.memory }}</td>                
            <td>{{ video_card.gpu_frequency }} MHz</td>
            <td>{{ video_card.memory_frequency }} MHz</td>
        </tr>
    {% endfor %}
</table>
<span class="processor_table_notice">
<sup>*</sup> Este valor sirve para comparar dos tarjetas gráficas distintas, aún si son de marcas diferentes
</span>

<div>
    <h2>Ver línea específica</h2>
    <ul>
    {% for video_card_line in video_card_lines %}
        <li><a href="{% url cotizador.views_notebooks.video_card_line_details video_card_line.id %}">{{ video_card_line }}</a></li>
    {% endfor %}
    </ul>
</div>

{% endblock %}
