{% extends "cotizador/base_catalog.html" %}

{% block title %}
    {% ifequal video_card None %}
        Tarjetas de video {{ video_card_line }} - {{ site_name }}
    {% else %}
        Tarjeta de video {{ video_card }} - {{ site_name }}
    {% endifequal %}
{% endblock %}

{% block catalog_content %}

{% ifequal video_card None %}
    <h1>Tarjetas de video {{ video_card_line }}</h1>
{% else %}
    <h1>Tarjeta de video {{ video_card }}</h1>
{% endifequal %}

<div>
    <h2>Ver otras líneas</h2>
    <ul>
        <li><a href="{% url cotizador.views_notebooks.video_card_line %}">Comparar todas las líneas</a></li>
    {% for video_card_line in other_video_card_lines %}
        <li><a href="{% url cotizador.views_notebooks.video_card_line_details video_card_line.id %}">{{ video_card_line }}</a></li>
    {% endfor %}
    </ul>
</div>
<h2 class="subheader">Modelos</h2>
<table class="processor_table">
    <tr>
        <th>Modelo</th>
        <th>Tipo</th>
        <th>Velocidad <sup>*</sup></th>
        <th>Memoria</th>
        <th>Frec. Core</th>
        <th>Frec. Mem</th>
    </tr>
    {% for video_card in video_cards %}
        {% ifequal video_card_id video_card.id %}
            <tr class="selected_processor">
        {% else %}
            <tr>
        {% endifequal %}
            <td><a href="{% url cotizador.views.product_type_catalog ptype.urlname %}?video_card={{video_card.id}}&advanced_controls=1">{{ video_card }}</a></td>
            <td>{{ video_card.card_type }}</td>
            <td>{{ video_card.speed_score }}</td>
            <td>{{ video_card.memory }}</td>                
            <td>{{ video_card.gpu_frequency }} MHz</td>
            <td>{{ video_card.memory_frequency }} MHz</td>
        </tr>
    {% endfor %}
</table>
<span class="processor_table_notice">
<sup>*</sup> Este valor sirve para comparar dos tarjetas gráficas distintas, aún si son de marcas diferentes
</span>

{% if ntbks %}
    {% ifequal video_card None %}
        <h2 class="subheader">Algunos equipos con estas tarjetas gráficas</h2>
    {% else %}
        <h2 class="subheader">Algunos equipos la tarjeta gráfica {{ video_card }}</h2>
    {% endifequal %}
{% endif %}
    

{% for notebook in notebooks %}
    {{ notebook.render_div }}
{% endfor %}

{% endblock %}
