{% extends "cotizador/base_browse.html" %}

{% block title %}SoloNotebooks - {{ notebook }}{% endblock %}

{% block header %}
    <link href="/media/css/galleria.css" rel="stylesheet" type="text/css" media="screen" /> 
    <script type="text/javascript" src="/media/js/galleria/jquery.galleria.js"></script>
    <script type="text/javascript"> 
        $(function() { 
            $('ul.gallery').galleria({
			    history   : false, 
			    clickNext : false, 
			    insert    : '#image_container',
			    onImage   : undefined,
			    onThumb   : function() { $('ul.gallery img:first').click() },
		    });
		    
		    notebook_id = {{ notebook.id }}

        }); 
    </script>
{% endblock %}

{% block mainContent %}

<div class="notebook_details_sidebar">
    <div class="notebook_details_images">
        <div id="image_container"></div>
        <ul class="gallery">
            <li>{{ notebook.picture.extra_thumbnails_tag.large }}</li>
            {% for picture in notebook.notebookpicture_set.all %}
                <li>{{ picture.picture.extra_thumbnails_tag.large }}</li>
            {% endfor %}
            <li><img src="/media/pics/charts/{{ notebook.id }}.png" alt="Grafico cambios de precio"/></li>
        </ul>
    </div>
    <div class="price_table_container">
        <table class="table_notebook_detail_prices">
            <tr>
                <th>Tienda</th>
                <th>Precio</th>
            </tr>
            {% ifequal notebook_prices|length 0 %}
              <tr>
                <td colspan="2" class="notebook_availability_message">
                  Este notebook no está disponible actualmente
                </td>
              </tr>
            {% else %}
              {% for notebook_price in notebook_prices %}
                  <tr>
                      <td>
                          <a href="/store_notebook/{{notebook_price.shpe.id}}">{{ notebook_price.store.picture.thumbnail_tag }}</a>
                      </td>
                      <td>
                          <a href="/store_notebook/{{notebook_price.shpe.id}}">{{ notebook_price.shpe.pretty_price }}</a>
                      </td>
                  </tr>
              {% endfor %}
            {% endifequal %}
        </table>
    </div>
    
    <div id="price_suggestion_box">
        {% if not notebook_subscription %}
        <table>
            <tr>
                <td>
                    <a href="" class="subscribe_link">
                    <img src="/media/assets/subscribe-icon.png" />
                    </a>
                </td>
                <td>
                    <a href="" class="subscribe_link">
                    {% if notebook.is_available %}
                        Enviarme cambios de precio
                    {% else %}
                        Avisarme cuando esté disponible
                    {% endif %}
                    </a>
                </td>                
            </tr>
            <tr>
                <td>
                    <a href="" class="favorite_link">
                    <img src="/media/assets/favorite-icon.png" />
                    </a>
                </td>
                <td>
                    <a href="" class="favorite_link">
                    Agregar a mis favoritos
                    </a>
                </td>                
            </tr>            
        </table>
        {% else %}
            {% if notebook_subscription.email_notifications %}
                <table>
                    <tr>
                        <td>
                            <img src="/media/assets/subscribe-icon.png" />
                        </td>
                        <td>
                            {% if notebook.is_available %}
                                Estás recibiendo los cambios de precio
                            {% else %}
                                Te avisaremos cuando esté disponible
                            {% endif %}
                        </td>                
                    </tr>
                    <tr>
                        <td>
                            <img src="/media/assets/favorite-icon.png" />
                        </td>
                        <td>
                            Este notebook está en tus favoritos
                        </td>                
                    </tr>                         
                </table>            
            {% else %}
                <table>
                    <tr>
                        <td>
                            <a href="" class="subscribe_link">
                            <img src="/media/assets/subscribe-icon.png" />
                            </a>
                        </td>
                        <td>
                            <a href="" class="subscribe_link">
                            {% if notebook.is_available %}
                                Enviarme cambios de precio
                            {% else %}
                                Avisarme cuando esté disponible
                            {% endif %}
                            </a>
                        </td>                
                    </tr>
                    <tr>
                        <td>
                            <img src="/media/assets/favorite-icon.png" />
                        </td>
                        <td>
                            Este notebook está en tus favoritos
                        </td>                
                    </tr>                         
                </table>
            {% endif %}
        {% endif %}
    </div>

    <div class="similar_notebooks">
        <h2>Notebooks similares</h2>
        {% for ntbk in similar_notebooks %}
        <div class="notebook_container">
            <div class="notebook_thumb_image">
                <a href="../{{ ntbk.id }}">{{ ntbk.picture.thumbnail_tag }}</a>
            </div>
	    <div class="similar_notebook_stats">
	            <a href="../{{ ntbk.id }}">
        	        {{ ntbk }}
	            </a>
        	    <p>
                	{{ ntbk.processor }} <br />
	                {{ ntbk.screen.pretty_display }}<br />
        	        <strong>{{ ntbk.pretty_min_price }}</strong>
	            </p>
	    </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="notebook_details_specs">
    <h1>{{ notebook }}</h1>
    {% if user.is_staff %}
        <small><a href="/admin/cotizador/notebook/{{ notebook.id }}">Editar</a></small>
    {% endif %}
    <h2>Especificaciones esenciales</h2>
    <strong>Procesador: </strong> <a href="/processor_line_families/{{ notebook.processor.line.family.id }}?processor={{ notebook.processor.id }}">{{ notebook.processor.pretty_print }}</a>
    <br />
    <strong>Pantalla: </strong> {{ notebook.screen.pretty_display }}
    <br />
    <strong>Memoria RAM: </strong> {{ notebook.ram_quantity }} ({{notebook.ram_type}}-{{notebook.ram_frequency.value}})
    <br />
    <strong>Almacenamiento: </strong>
    {% ifequal notebook.storage_drive.all.count 1 %}
        {{ notebook.storage_drive.all.0 }}
    {% else %}
        <ul>
            {% for storage in notebook.storage_drive.all %}
            <li>{{ storage }}</li>
        {% endfor %}
    </ul>
    {% endifequal %}
    <br />
    <strong>Tarjeta de video: </strong>
    {% ifequal notebook.video_card.all.count 1 %}
        <a href="/video_card_line/{{notebook.video_card.all.0.line.id}}/?video_card={{notebook.video_card.all.0.id}}">{{ notebook.video_card.all.0 }}</a>
    {% else %}
        <ul>
            {% for video_card in notebook.video_card.all %}
            <li><a href="/video_card_line/{{video_card.line.id}}/?video_card={{video_card.id}}">{{ video_card }}</a></li>
        {% endfor %}
    </ul>
    {% endifequal %}
    <br />
    <h2>Especificaciones secundarias</h2>
    <strong>Batería: </strong> {% if notebook.prettyBattery %} {{ notebook.prettyBattery }} {% else %} No hay información disponible {% endif %}
    <br />
    <strong>Chipset: </strong> {{ notebook.chipset }}
    <br/>    
    <strong>Peso: </strong> {% if notebook.weight %} {{ notebook.weight }} g. {% else %} No hay información disponible {% endif %}
    <br />
    <strong>Dimensiones: </strong> {% if notebook.prettyDimensions %} {{ notebook.prettyDimensions }} {% else %} No hay información disponible{% endif %}
    <br />
    <strong>Sistema Operativo: </strong> {{ notebook.operating_system }}
    <br />
    <strong>Unidad óptica: </strong> {{ notebook.optical_drive }}
    <br />
    <strong>WiFi: </strong> {{ notebook.wifi_card }}
    <br />
<h2>Accesorios</h2>
    <strong>Puertos USB: </strong> {% if notebook.usb_port_count %} {{ notebook.usb_port_count }} {% else %} No hay información disponible{% endif %}
    <br />
    <strong>Webcam: </strong> {% if notebook.webcam_mp %} {{ notebook.webcam_mp }} MP {% else %} No posee{% endif %}
    <br />
    <strong>LAN: </strong> {{ notebook.lan }}
    <br />
    <strong>Adaptador de energía: </strong> {{ notebook.power_adapter }}
    <br />
    <strong>Lector de tarjetas: </strong> {{ notebook.card_reader }}
    <br />
    <strong>Puertos de video: </strong> {{ notebook.prettyVideoPorts }}    
    <br />    
    <strong>¿RAM de doble canal?: </strong> {% if notebook.is_ram_dual_channel %} Sí {% else %} No {% endif %}
    <br />
    <strong>¿Bluetooth?: </strong> {% if notebook.has_bluetooth %} Sí {% else %} No {% endif %}
    <br />
        <strong>¿Conexión eSATA?: </strong> {% if notebook.has_esata %} Sí {% else %} No {% endif %}
    <br />
    <strong>¿Lector de huellas digitales?: </strong> {% if notebook.has_fingerprint_reader %} Sí {% else %} No {% endif %}
    <br />
    <strong>¿Conexión FireWire?: </strong> {% if notebook.has_firewire %} Sí {% else %} No {% endif %}
    <br />
    <hr />
    <div id="notebook_comments">
    <h2>Comentarios</h2>
    {% ifequal notebook_comments.count 0 %}
        No hay comentarios para este notebook
    {% else %}
        {% for comment in notebook_comments %}
            <div class="notebok_comment">
                <span class="comment_nickname">
                    {% if comment.user %}
                        {{ comment.user.username}}
                    {% else %}
                        {{ comment.nickname }}
                    {% endif %}
                </span>
                <span class="comment_date">{{ comment.date }}</span>
                <div class="comment_body">
                {{ comment.comments|safe }}
                </div>
                {% if user.is_staff %}
                    <small><a href="/manager/delete/{{ comment.id }}">Eliminar</a></small>
                {% endif %}
                <hr />
            </div>
        {% endfor %}
    {% endifequal %}
    </div>
    <div id="notebook_comment_add">
    {% if posted_comment %}
    <strong>Gracias por tus comentarios, dentro de unos minutos será publicado. Recuerda que <a href="#" class="register_link">si te registras</a> tus próximos mensajes aparecerán inmediatamente.</strong>
    {% else %}
        ¿Preguntas, comentarios o sugerencias de este notebook? Deja tu mensaje!
        <form action="" id="comment_form" method="post">
            <div>
                <span class="comment_form_label">Nombre:</span>
                {% if user.is_authenticated %}
                    {{ user.username }}
                {% else %}
                    {{ comment_form.nickname }}
                {% endif %}
                <p>
                    <span class="comment_form_label">Comentarios:</span>
                    <br />
                    {{ comment_form.comments }}
                    <br />
                </p>
                <input type="submit" value="Enviar" />
            </div>
        </form>
    {% endif %}
    </div>
</div>
{% endblock %}
