{% extends "cotizador/base_browse.html" %}

{% block header %}
    <script type="text/javascript" src="/media/js/processor_script.js"></script>
{% endblock %}

{% block title %}
{% ifequal processor None %}
    SoloNotebooks - Procesadores {{ processor_line_family }}
{% else %}
    SoloNotebooks - Procesador {{ processor }}
{% endifequal %}

{% endblock %}

{% block mainContent %}

{% ifequal processor None %}
    <h1>Procesadores {{ processor_line_family }}</h1>
{% else %}
    <h1>Procesador {{ processor }}</h1>
{% endifequal %}

<div class="processor_details_container">
    <div class="processor_image_container">
        {{ processor_line_family.picture.thumbnail_tag }}
    </div>

    {{ processor_line_family.text|safe }}

</div>

<div style="clear: both;">
    <h2>Ver otras líneas</h2>
    <ul>
        <li><a href="../">Comparar todas las líneas</a></li>
    {% for processor_line_family in other_processor_line_families %}
        <li><a href="../{{ processor_line_family.id }}">{{ processor_line_family }}</a></li>
    {% endfor %}
    </ul>
</div>

<h2 class="subheader">Modelos</h2>

<table class="processor_table">
    <tr>
        <th>Modelo</th>
        <th>Núcleos</th>
        <th>Frecuencia</th>
        <th>Velocidad <sup>*</sup></th>        
        <th>FSB</th>
        <th>Cache</th>
        <th>Consumo</th>
        <th>Modo Turbo</th>
    </tr>
    {% for processor in processors %}
        {% ifequal processor_id processor.id %}
            <tr class="selected_processor">
        {% else %}
            <tr>
        {% endifequal %}
            <td><a href="/?processor={{processor.id}}&advanced_controls=1">{{ processor.tablePrint }}</a></td>
            <td>{{ processor.core_number }}</td>
            <td>{{ processor.frequency }}</td>
            <td>{{ processor.speed_score }}</td>                
            <td>{{ processor.fsb }}</td>
            <td>{{ processor.cache }}</td>
            <td>{{ processor.tdp }} W</td>
            <td>{% if processor.has_turbo_mode %} Sí {% else %} No {% endif %}</td>
        </tr>
    {% endfor %}
</table>
<span class="processor_table_notice">
<sup>*</sup> Este valor es un puntaje promedio en pruebas, y sirve para comparar dos procesadores distintos, inclusive de distintas marcas
</span>

{% ifequal processor None %}
    <h2 class="subheader">Algunos equipos con estos procesadores</h2>
{% else %}
    <h2 class="subheader">Algunos equipos con el procesador {{ processor }}</h2>
{% endifequal %}

{% for notebook in ntbks %}

    <div class="notebook_container">
        <div class="notebook_thumb_image"><a href="/notebooks/{{ notebook.id }}{{ current_url }}">{{ notebook.picture.thumbnail_tag }}</a></div>
        <div class="notebook_thumb_price">
<a href="/notebooks/{{ notebook.id }}{{ current_url }}">
    {{ notebook.prettyMinPrice }}
    </a>
    
        </div>
        <h2><a href="/notebooks/{{ notebook.id }}{{ current_url }}">{{ notebook }}</a></h2>
        <strong>Procesador:</strong> {{ notebook.processor.prettyPrint }}
        <br />
        <strong>RAM: </strong> {{ notebook.ram_quantity }} ({{notebook.ram_type}}-{{notebook.ram_frequency.value}})
        <br />
        <strong>Disco Duro: </strong> {{ notebook.storage_drive.all.0 }}
                <br />
        <strong>Pantalla: </strong> 
        {{ notebook.screen.prettyDisplay }}
    </div>

{% endfor %}

{% endblock %}
