{% extends "base_generic.html" %}

{% block title %}
    {{ ptype.indexname }} - {{ site_name }}
{% endblock %}

{% block content %}

<div id="left">
    <div id="top-left">
	    <img src="/media/css/img/fake-h1.png" class="left" />
        <span class="left">Destacados por</span>
		<ul class="right">
		    {% for ordering_option in hnf.fields.highlighted_ordering.choices %}
                <li {% ifequal hnf.cleaned_data.highlighted_ordering ordering_option.0 %} class="active-top-left" {% endifequal %}>
                    <a href="?highlighted_ordering={{ ordering_option.0 }}" title="{{ ordering_option.1 }}">{{ordering_option.1}}</a>
                </li>
            {% endfor %}
		</ul>
		<br class="clear" />
	</div> <!-- !end top left -->
	<div id="cat-index">
		{% for product in products %}
		    {{ product.render_div }}
        {% endfor %}
	</div> <!-- !end cat index -->
<!-- !end loop de producto -->	
</div> 
<!-- !end left -->

<div id="right">
    <div id="search-index">
		<img src="/media/css/img/fake-search.png" class="right" />
		<h3>Búsqueda Rápida</h3>
			
			<div class="spacer-search">
			    <form method="get" action="{% url cotizador.views.product_type_catalog ptype.urlname %}">
			        {% for field_combo in form.get_quick_search_fields %}
			            <span>{{ field_combo.0 }}</span><br />
			            {{ field_combo.1 }}
			        {% endfor %}
				
				    <input type="submit" class="right" value="Buscar" />
		        </form>
			</div>
		<br class="clear" />
	</div> <!-- end search index -->
	
	<div id="facebook_recommendations">
    	<fb:recommendations site="solotodo.net" width="250" height="300" header="true"></fb:recommendations>
	</div>
	
	<div id="arbol-site">
		<ul>
			<li><span>{{ ptype.indexname }}</span></li>
			{% for category in form.main_category.choices %}
            <li><a href="{% url cotizador.views.product_type_catalog ptype.urlname %}?{{ form.main_category_string }}={{ category.0 }}" title="{{ category.1 }}">{{ category.1 }}</a></li>						
            {% endfor %}
		</ul>
		<ul>
			<li><span>CATEGORIAS</span></li>
			<li><a href="{% url cotizador.views.product_type_catalog ptype.urlname %}" title="Catálogo">Catálogo</a></li>
			<li><a href="/blog" title="Blog">Blog</a></li>
			<li><a href="/blog/about" title="Nosotros">Nosotros</a></li>
			<li><a href="/blog/contacto" title="Contacto">Contacto</a></li>
		</ul>
	</div> <!-- end arbol site -->
</div> <!-- !end right -->				
{% endblock %}
