{% extends "cotizador/base_catalog.html" %}

{% block title %}{{ product }} - {{ site_name }}{% endblock %}

{% block catalog_header_content %}
    {% if settings.DEBUG %}
        <script type="text/javascript"> 
            var disqus_developer = 1;
        </script>
    {% endif %}
    <meta property="fb:app_id" content="{{ settings.FACEBOOK_ID }}"/>
    <meta property="og:title" content="{{ product }}"/>
    <meta property="og:type" content="product"/>
    <meta property="og:url" content="{{ settings.SERVER_NAME }}{% url solonotebooks.cotizador.views.product_details product.url %}"/>
    <meta property="og:image" content="{{settings.SERVER_NAME }}{{ product.picture.extra_thumbnails.large.absolute_url }}"/>
    <meta property="og:site_name" content="{{ settings.SITE_NAME }}"/>

    <link href="/media/css/galleria.css" rel="stylesheet" type="text/css" media="screen" /> 
    <link rel="image_src" href="" />
    <script type="text/javascript" src="/media/js/galleria/jquery.galleria.js"></script>
    <script type="text/javascript"> 
        $(function() {
            $('ul.gallery').galleria({
			    history   : false, 
			    clickNext : false, 
			    insert    : '#image_container',
			    onImage   : undefined,
			    onThumb   : function() { $('ul.gallery img:first').click() },
		    });
		    
		    product_id = {{ product.id }}
        }); 
    </script>
{% endblock %}

{% block catalog_content %}

<div class="product_details_sidebar">
    {% block sidebar %}
    <div class="product_details_images">
        <div id="image_container"></div>
        <ul class="gallery">
            <li>{{ product.picture.extra_thumbnails_tag.large }}</li>
            {% for picture in product.productpicture_set.all %}
                <li>{{ picture.picture.extra_thumbnails_tag.large }}</li>
            {% endfor %}
            <li><img src="/media/pics/charts/{{ product.id }}.png" alt="Grafico cambios de precio"/></li>
        </ul>
    </div>
    <br class="clear" />
    <div class="price_table_container">
        <table class="table_product_detail_prices mytable">
            <tr>
                <th>Tienda</th>
                <th>Precio</th>
            </tr>
            {% ifequal product_prices|length 0 %}
              <tr>
                <td colspan="2" class="product_availability_message">
                  Este producto no está disponible actualmente
                </td>
              </tr>
            {% else %}
              {% for product_price in product_prices %}
                  <tr>
                      <td>
                          <a href="{{product_price.shpe.url}}" rel="nofollow">{{ product_price.store.picture.thumbnail_tag }}</a>
                      </td>
                      <td>
                          <a href="{{product_price.shpe.url}}" rel="nofollow">{{ product_price.shpe.pretty_price }}</a>
                      </td>
                  </tr>
              {% endfor %}
            {% endifequal %}
        </table>
    </div>
    
    <div id="price_suggestion_box">
        {% if not subscription %}
        <table class="mytable">
            <tr>
                <td>
                    <a href="" class="subscribe_link">
                    <img src="/media/assets/subscribe-icon.png" />
                    </a>
                </td>
                <td>
                    <a href="" class="subscribe_link">
                    {% if product.shp %}
                        Enviarme cambios de precio
                    {% else %}
                        Avisarme cuando esté disponible
                    {% endif %}
                    </a>
                </td>                
            </tr>
            <tr>
                <td>
                    <a href="" class="favorite_link">
                    <img src="/media/assets/favorite-icon.png" />
                    </a>
                </td>
                <td>
                    <a href="" class="favorite_link">
                    Agregar a mis favoritos
                    </a>
                </td>                
            </tr>            
        </table>
        {% else %}
            {% if subscription.email_notifications %}
                <table class="mytable">
                    <tr>
                        <td>
                            <img src="/media/assets/subscribe-icon.png" />
                        </td>
                        <td>
                            {% if product.shp %}
                                Estás recibiendo los cambios de precio
                            {% else %}
                                Te avisaremos cuando esté disponible
                            {% endif %}
                        </td>                
                    </tr>
                    <tr>
                        <td>
                            <img src="/media/assets/favorite-icon.png" />
                        </td>
                        <td>
                            Este producto está en tus favoritos
                        </td>                
                    </tr>                         
                </table>            
            {% else %}
                <table class="mytable">
                    <tr>
                        <td>
                            <a href="" class="subscribe_link">
                            <img src="/media/assets/subscribe-icon.png" />
                            </a>
                        </td>
                        <td>
                            <a href="" class="subscribe_link">
                            {% if product.shp %}
                                Enviarme cambios de precio
                            {% else %}
                                Avisarme cuando esté disponible
                            {% endif %}
                            </a>
                        </td>                
                    </tr>
                    <tr>
                        <td>
                            <img src="/media/assets/favorite-icon.png" />
                        </td>
                        <td>
                            Este producto está en tus favoritos
                        </td>                
                    </tr>                         
                </table>
            {% endif %}
        {% endif %}
    </div>
    {% endblock %}
</div>
<div class="product_details_specs">
    {% if user.get_profile.can_access_services %}
        <p><strong><a href="{% url solonotebooks.cotizador.views_services.product_details product.id %}">Ver información estadística</a></strong></p>
    {% endif %}
    
    {% if user.is_staff %}
        <p><strong><a href="{% url solonotebooks.cotizador.views_staff.polymorphic_admin_request user.id product.id %}">Editar información</a> |
        <a href="{% url solonotebooks.cotizador.views_staff.clone_product user.id product.id %}">Clonar producto</a>
        </strong></p>
    {% endif %}
    
    {% block product_details %}
    {% endblock %}
    
    <p id="product_like">
    <fb:like href="{{ settings.SERVER_NAME }}{% url solonotebooks.cotizador.views.product_details product.url %}" show_faces="true" width="350"></fb:like>
    </p>
</div>

<br class="product_details_comment_separator" />

<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = '{{ settings.DISQUS_SHORTNAME }}';
    var disqus_identifier = '{{ product.disqus_id }}';
    var disqus_url = '{{ settings.SERVER_NAME }}{% url solonotebooks.cotizador.views.product_details product.url %}';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{% endblock %}
