{% extends "cotizador/base_browse.html" %}

{% block title %}SoloNotebooks - Validación de correo{% endblock %}

{% block header %}
{% endblock %}

{% block mainContent %}

<h1>Error en la regeneración</h1>

<p>Hemos detectado un problema durante la regeneración de tu contraseña: {{ error }}

<p>Por favor verifica lo siguiente: </p>

<ul>
    <li>La dirección en la barra de tu navegador es idéntica a la que te llegó a tu correo</li>
    <li>Verifica que no estés ingresado como otro usuario</li>
</ul>

{% endblock %}
