{% extends "manager/base.html" %}

{% block title %}SoloNotebooks - Analizador de consultas{% endblock %}

{% block mainContent %}

<h1>Analizador de consultas</h1>
{% for key, value in results.items %}
    {% if value.meta.is_available %}
        <h3>{{ key.name }} ({{ value.meta.percentage|floatformat }} %)</h3>
        {% for subkey, subvalue in value.data.items %}
            <i>{{ subkey }}:</i> {{ subvalue.0 }} ({{ subvalue.1|floatformat }}%)<br />
        {% endfor %}
    <img src="/media/pics/temp/{{ key.name }}-{{num_queries}}.png" />
    {% endif %}    
{% endfor %}

{% endblock %}
