{% extends "manager/base.html" %}

{% block top_menu %}
<div class="MTL"></div>
        <div class="MTR"></div>
        <ul>
            <li>
                <a href="/manager/news" title="Últimos Movimientos"><span>Últimos Movimientos</span></a>
            </li>
            <li>
                <a href="/manager/comments" title="Comentarios"><span>Comentarios</span></a>
            </li>
            <li>
                <a href="/manager/new_notebooks" title="Nuevos Equipos"><span>Nuevos Equipos</span></a>
            </li>
            <li>
                <a href="/manager/analyze_searches" title="Analizar consultas"><span>Analizar consultas</span></a>
            </li>
        </ul> 
{% endblock %}
