{% extends "manager/base.html" %}

{% block title %}SoloNotebooks - Manager{% endblock %}

{% block mainContent %}

<h2>Comentarios sin validar</h2>

{% for comment in due_comments %}
    <strong>Fecha: </strong> {{ comment.date }}
    <br />
    <strong>Nickname: </strong> {{ comment.nickname }}
    <br />
    <strong>Notebook: </strong> <a href="/notebooks/{{ comment.notebook.id }}">{{ comment.notebook }}</a>
    <br />
    <strong>Comentario: </strong>
    <br />
    {{ comment.comments }}
    <br />
    <form method="POST" action="/manager/delete/{{ comment.id }}">
        <input type="submit" value="Eliminar comentario" />
    </form>
    &nbsp;
    <form method="POST" action="/manager/validate/{{ comment.id }}">
        <input type="submit" value="Validar comentario" />
    </form>
    <hr />

{% endfor %}


<form method="POST" action="/manager/validate_all">
    <input type="submit" value="Validar todos los mensajes" />
</form>
&nbsp;
<form method="POST" action="/manager/delete_all">
    <input type="submit" value="Eliminar todos los mensajes" />
</form>

<h2>Últimos comentarios</h2>

{% for comment in app_comments %}
    <strong>Fecha: </strong> {{ comment.date }}
    <br />
        <strong>Nickname: </strong>     
    {% if comment.user %}
        {{ comment.user.username }}
    {% else %}
        {{ comment.nickname }}
    {% endif %}
    <br />
    <strong>Notebook: </strong> <a href="/notebooks/{{ comment.notebook.id }}">{{ comment.notebook }}</a>
    <br />
    <strong>Comentario: </strong>
    <br />
    {{ comment.comments }}
    <br />
    <form method="POST" action="/manager/delete/{{ comment.id }}">
        <input type="submit" value="Eliminar comentario" />
    </form>
    <hr />

{% endfor %}

{% endblock %}
