{% extends "manager/base.html" %}

{% block title %}Nuevas entidades - {{ site_name }}{% endblock %}

{% block manager_content %}

<h2>Entidades por ingresar</h2>

{% if new_entities %}

    {% for entity in new_entities %}
        <li>{{ entity.custom_name }} (<a href="{% url solonotebooks.cotizador.views_manager.storehasproductentity_edit entity.id %}">Editar</a> | <a href="{% url solonotebooks.cotizador.views_manager.storehasproductentity_hide entity.id %}">Esconder</a>)</li>
    {% endfor %}
    
{% else %}
    <p>No hay entidades por ingresar</p>
{% endif %}

{% endblock %}
