{% extends "manager/base.html" %}

{% block title %}Noticias - {{ site_name }}{% endblock %}

{% block manager_content %}

<h2>Últimos eventos</h2>

{% for log in last_logs %}
    <h3>{{ log.date }}</h3>
    
    <h4>Errores de recepción</h4>
    
    {% if log.logfetchstoreerror_set.all %}    
        <ul>
            {% for log in log.logfetchstoreerror_set.all %}
                <li>{{ log.print_message }}</li>
            {% endfor %}
        </ul>
        <br />
    {% else %}
        <p>No se reportaron errores</p>
    {% endif %}
    
    <h4>Cambios de nombre</h4>
    
    {% if log.logchangeentityname_set.all %}
        <ul>
        {% for log in log.logchangeentityname_set.all %}
            <li>{{ log.message|safe }}</li>
        {% endfor %}
        </ul>    
        <br />
    {% else %}
        <p>No se reportaron cambios de nombre</p>
    {% endif %}
    
    <h4>Nuevas entidades</h4>
    
    {% if log.lognewentity_set.all %}
        <ul>
        {% for log_new_entity in log.lognewentity_set.all %}
            <li>{{ log_new_entity.message|safe }}</li>
        {% endfor %}
        </ul>    
        <br />
    {% else %}
        <p>No se reportaron nuevas entidades</p>
    {% endif %}
    
    <h4>Entidades perdidas</h4>
    
    {% if log.loglostentity_set.all %}
        <ul>
        {% for log_lost_entity in log.loglostentity_set.all %}
            <li>{{ log_lost_entity.message|safe }}</li>
        {% endfor %}
        </ul>    
        <br />
    {% else %}
        <p>No se reportaron pérdidas de entidades</p>
    {% endif %}
    
    <h4>Entidades resucitadas</h4>
    
    {% if log.logreviveentity_set.all %}
        <ul>
        {% for log_revive_entity in log.logreviveentity_set.all %}
            <li>{{ log_revive_entity.message|safe }}</li>
        {% endfor %}
        </ul>    
        <br />
    {% else %}
        <p>No se reportaron resucitaciones de entidades</p>
    {% endif %}    
    
    <h4>Entidades con cambios de precio</h4>
    
    {% if log.logchangeentityprice_set.all %}
        <ul>
        {% for log_change_entity_price in log.logchangeentityprice_set.all %}
            <li>{{ log_change_entity_price.message|safe }}</li>
        {% endfor %}
        </ul>    
        <br />
    {% else %}
        <p>No se reportaron cambios de precio en las entidades</p>
    {% endif %}

    <h4>Productos perdidos</h4>

    {% if log.loglostproduct_set.all %}
        <ul>
        {% for log_lost_product in log.loglostproduct_set.all %}
            <li>{{ log_lost_product.message|safe }}</li>
        {% endfor %}
        </ul>    
        <br />
    {% else %}
        <p>No se reportaron pérdidas de productos</p>
    {% endif %}
    
    <h4>Productos resucitados</h4>
    
    {% if log.logreviveproduct_set.all %}
        <ul>
        {% for log_revive_product in log.logreviveproduct_set.all %}
            <li>{{ log_revive_product.message|safe }}</li>
        {% endfor %}
        </ul>
        <br />
    {% else %}
        <p>No se reportaron resucitaciones de productos</p>
    {% endif %}    
    
    <h4>Productos con cambios de precio</h4>
    
    {% if log.logchangeproductprice_set.all %}
        <ul>
        {% for log_change_product_price in log.logchangeproductprice_set.all %}
            <li>{{ log_change_product_price.message|safe }}</li>
        {% endfor %}
        </ul>    
        <br />
    {% else %}
        <p>No se reportaron cambios de precio en los productos</p>
    {% endif %}
{% endfor %}

{% endblock %}
