{% extends "manager/base.html" %}

{% block title %}Editar entrada de producto - {{ site_name }}{% endblock %}

{% block manager_content %}

<h2><a href="{{ shpe.url }}">{{ shpe }}</a></h2>
<h4>
    Tienda: {{ shpe.store }}
</h4>
<h4>
    Precio: {{ shpe.pretty_price }}
</h4>
<h4>
    Disponibilidad: {% if shpe.is_available %} Disponible {% else %} No disponible {% endif %} / Visibilidad: {% if shpe.is_hidden %} No visible {% else %} Visible {% endif %}
</h4>

<form method="post" action="">
    <select id="id_product" name="product">
        <option value="">---------</option>
        {% for option in options %}
            <option value="{{ option.id }}"
            {% ifequal shpe.shp.product.id option.id %}
             selected="selected" 
            {% endifequal %}
            >{{ option }}</option>
        {% endfor %}
    </select>
        
    </input>
    
    <p>
        {% if shpe.is_hidden %}
        <a href="{% url solonotebooks.cotizador.views_manager.storehasproductentity_show shpe.id %}">Hacer visible</a>
        {% else %}
        <a href="{% url solonotebooks.cotizador.views_manager.storehasproductentity_hide shpe.id %}">Hacer no visible</a>
        {% endif %}
        |
        <a href="{% url solonotebooks.cotizador.views_manager.storehasproductentity_refresh_price shpe.id %}">Refrescar precio y disponibilidad</a>
    </p>
    <p>
        <input type="submit" value="Guardar" />
    </p>
</form>

{% endblock %}
