{% extends "manager/base.html" %}

{% block title %}Crear entrada de producto - {{ site_name }}{% endblock %}

{% block mainContent %}

<h2><a href="{{ shpe.url }}">{{ shpe }}</a></h2>

<form method="post" action="">
    <select id="id_product" name="product">
        {% for option in options %}
            <option value="{{ option.id }}">{{ option }}</option>
        {% endfor %}
    </select>
        
    </input>
    {{ shpe_form.store }}
    <p>
        <input type="submit" value="Guardar" />
    </p>
</form>

{% endblock %}
