{% extends "cotizador/base_browse.html" %}

{% block header %}
    <script type="text/javascript" src="/media/js/advertisement_manage_script.js"></script>
{% endblock %}

{% block title %}SoloNotebooks - Sistema de administración de publicidad{% endblock %}

{% block mainContent %}

<h1>Administración de publicidad de {{ store }}</h1>

            <div id="available_notebook_div" class="advertisement_div">
                <strong>Equipos disponibles</strong>
                <ul id="available_ntbks">
                </ul>
            </div>
            
            <div id="publicized_notebook_div" class="advertisement_div">            
                <strong>Equipos publicitados</strong>
                <ul id="publicized_ntbks">
                </ul>
                <strong>Total: </strong> <span id="publicized_ntbks_counter"></span> / 10                
            </div>

            <strong>Equipos no disponibles (ya tomados)</strong>
            <ul id="unavailable_ntbks">
            </ul>

{% endblock %}
