{% extends "base.html" %}

{% block body %}
    <div class="row">
        <h1>Formulario de registro</h1>
        <hr>
        <div class="span4">
            <form method="post" action=".">
                <div>
                    {{ form.non_field_errors }}
                </div>
                <br />


                {% for field in form %}
                    {{ field.errors }}
                    <div>
                        <label>{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}

                <hr />
                <input type="submit" class="btn btn-primary" value="Continuar" />
            </form>
        </div>
        <div class="span8">
            <div id="registration-benefits">

            </div>
        </div>
    </div>
{% endblock %}