{% extends "base.html" %}
        
{% block body %}
        <div>
            <h1>Registro exitoso</h1>
            <hr />
            <p>
                Gracias por registrarte en SoloTodo. En algunos momentos te llegará un correo para verificar tu cuenta.
                Sigue las instrucciones en ese mensaje para validar la cuenta y poder acceder a todos los servicios de
                SoloTodo.
            </p>
            <p>
                - El staff de SoloTodo
            </p>
        </div>
{% endblock %}